In [3]:
a = 120
b = 100
n = 1
while True :
    
    if n % a == 0 and n % b == 0 :
        print(n)
        break
    
    n += 1

600

In [18]:
i = 0
j = 0
while i < 10 :
    i += 1
    j = 1
    while j < 10 :
        j += 1
        print('{} x {} = {}'.format(i, j, i * j))
    print()

1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

# Input-Output

In [9]:
name = input('Enter your name : ')
age = int(input('Enter your age : '))

print(
    'Hello, {}.\nYou are {} years old.\n' 
    'I am glad to see you.' 
    .format(name, age))

Enter your name : vatana
Enter your age : 20
Hello, vatana.
You are 20 years old.
I am glad to see you.

In [19]:
n  = int(input('Enter a nuber: '))
print('The square of that number is :', n ** 2)

Enter a nuber: 5
The square of that number is : 25

# Boolean

In [21]:
is_even = True
n = int(input('Enter a number : '))
if n % 2 == 1 :
    is_even = False
print(is_even)

Enter a number : 69
False

In [30]:
n = int(input('Enter a number to see if it is prime or not : '))

is_prime = True
count = 0
i = 1
while i <= n :
    if n % i == 0 :
        count += 1
    i += 1
if count != 2 :
    is_prime = False

print(n, 'is a prime number :', is_prime)

Enter a number to see if it is prime or not : 101
101 is a prime number : True

#  if-elif-else

In [37]:
score = int(input('Enter your score : '))


if score >= 90 :
    grade = 'A'
elif score >= 80 :
    grade = 'B'
elif score >= 70 :
    grade = 'c'
elif score >= 60 :
    grade = 'D'
else :
    grade = 'F'
    
print('Your grade is :', grade)

Enter your score : 90
Your grade is : A

In [42]:
n = int(input('Enter a number : '))

if n > 0 :
    num = 'positive'
elif n < 0 :
    num = 'negative'
else :
    num = 'zero'
    
print(n, 'is', num)

Enter a number : 20
20 is positive

# List

In [43]:
lst = [1, 2, 3, 4, 5]

sum = 0
for i in lst :
    sum += i
print(sum)

15

In [46]:
lst = ['abc', 'def', 'ghijkl', 'mnop', 'qrs', 'tuvw']

lst.sort(key = len)

print(lst[-1])

ghijkl

# For loop

In [47]:
for i in range(1, 11) :
    print(i)

1
2
3
4
5
6
7
8
9
10

In [48]:
for i in range(2, 21, 2) :
    print(i)

2
4
6
8
10
12
14
16
18
20

# While loop

In [2]:
n = int(input('Enter a number > 0 : '))
i = 1
while True :
    if n <= 0 :
        print('Input value must greater than 0.')
        n = int(input('Enter a number > 0 : '))
    else :
        break

while i <= n :
    print(i)
    i += 1

Enter a number > 0 : 0
Input value must greater than 0.
Enter a number > 0 : -3
Input value must greater than 0.
Enter a number > 0 : -4
Input value must greater than 0.
Enter a number > 0 : -3
Input value must greater than 0.
Enter a number > 0 : 7
1
2
3
4
5
6
7

In [5]:
n = int(input('Enter a number > 0 : '))
i = 1
fact = 1

while True :
    if n <= 0 :
        print('Input value must greater than 0.')
        n = int(input('Enter a number > 0 : '))
    else :
        break

while i <= n :
    fact *= i
    i += 1
    
print('{}! = {}'.format(n, fact))

Enter a number > 0 : 5
5! = 120

# Tuple

In [6]:
tup = (1, 2, 3, 4, 5)
summ = sum(tup)
print(summ)

15

In [ ]:
tup = ('abc', 'cde')

In [18]:
nterms = int(input('Enter an integer to defines a fibonacci series : '))

# first two terms
n1, n2 = 0, 1
count = 0

# check if the number of terms is valid
if nterms <= 0 :
    print("Please enter a positive integer")
    
# if there is only one term, return n1
elif nterms == 1 :
    print("Fibonacci sequence upto", nterms, ": ")
    print(n1)
    
# generate fibonacci sequence
else :
    print("Fibonacci sequence : ")
    while count < nterms :
        print(n1)
        nth = n1 + n2
        # update values
        n1 = n2
        n2 = nth
        count += 1

Enter an integer to defines a fibonacci series : 7
Fibonacci sequence :
0
1
1
2
3
5
8

# Mix up

In [3]:
name = input('Enter your name : ')
age = int(input('Enter your age : '))
fav = int(input('Enter your favorite number : '))

if fav % 2 == 0 :
    fav_num = 'even'
else :
    fav_num = 'odd'

print('Good evening, Mr. or Ms. {}.\nYou are {} years old.\nYour favourite number is {} and it is an {} number.'.format(name, age, fav, fav_num))

Enter your name : Ung Sereyvatana
Enter your age : 20
Enter your favorite number : 69
Good evening, Mr. or Ms. Ung Sereyvatana.
You are 20 years old.
Your favourite number is 69 and it is an odd number.

# Print Pattern

In [6]:
n = 5

for i in range(0, n) :
    for j in range(0, i+1) :
        print('*', end = ' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [11]:
n = 5

for i in range(n, -1, -1) :
    for j in range(0, i) :
        print('*', end = ' ')
    print()

* * * * *
* * * *
* * *
* *
*

In [41]:
n = 5

for i in range(n, 0, -1) :  
    
    for j in range(n, i, -1) :
        print(' ', end = ' ')
        
    for j in range(0, i) :
        print('*', end = ' ')

    print()

* * * * *
  * * * *
    * * *
      * *
        *

In [55]:
n = 5 

for i in range(n) : 
    for j in range(n - 1, i, -1) :
        print(' ', end = ' ')
        
    for j in range(0, i + 1) :
        print('*', end = ' ')
        
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [60]:
n = 5

k = 2 * n - 2
for i in range(0, n) :
    for j in range(0, k) :
        print(end = ' ')
    k = k - 2
    for j in range(0, i + 1) :
        print('*', end = ' ')
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [85]:
n = 5

k = 2 * n - 2

for i in range(0, n) :
    
    for j in range(0, k) :
        print(end = ' ')
        
    k = k - 1
    
    for j in range(0, i + 1) :
        print('*', end = ' ')
    
    print()

        *
       * *
      * * *
     * * * *
    * * * * *

In [76]:
n = 5
k = 2 * n - 2

for i in range(n, -1, -1) :
    
    for j in range(k, 0, -1) :
        print(end = ' ')
        
    k = k + 1
    
    for j in range(0, i) :
        print('*', end = ' ')
    
    print()

        * * * * *
         * * * *
          * * *
           * *
            *

In [87]:
n = 5
k = n -2

for i in range(n, -1, -1) :
    
    for j in range(k, 0, -1) :
        print(end = " ")
    
    k = k + 1
    
    for j in range(0, i + 1) :
        print('*', end = ' ')
        
    print()
        
k = 2 * n - 2

for i in range(0, n + 1) :
    
    for j in range(0, k) :
        print(end=' ')
    
    k = k - 1
    
    for j in range(0, i + 1) :
        print('*', end = ' ')
        
    print()

   * * * * * *
    * * * * *
     * * * *
      * * *
       * *
        *
        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *

In [91]:
n = 5
k = 2 * n - 2

for i in range(0, n) :
    
    for j in range(0, k) :
        print(end = ' ')
        
    k = k - 1
    
    for j in range(0, i + 1) :
        print('*', end = ' ')
    
    print()

k = n - 2

for i in range(n, -1, -1) :
    
    for j in range(k, 0, -1) :
        print(end = ' ')
    
    k = k + 1
    
    for j in range(0, i + 1) :
        print('*', end = ' ')
    
    print()

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
    * * * * *
     * * * *
      * * *
       * *
        *

In [92]:
n = 5
k = 2 * n - 2

for i in range(0, n - 1) :
    
    for j in range(0, k) :
        print(end = ' ')
        
    k = k - 2
    
    for j in range(0, i + 1) :
        print('*', end = ' ')
    
    print()
    
k = -1 

for i in range(n - 1, -1, -1) :
    
    for j in range(k, -1, -1) :
        print(end = ' ')
        
    k = k + 2
    
    for j in range(0, i + 1) :
        print('*', end = ' ')
        
    print()

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

In [99]:
n = 5

for i in range(0, n) :
    for j in range(0, i + 1) :
        print('*', end = ' ')
    print()
    
for i in range(n, -1, -1) :
    for j in range(0, i + 1) :
        print('*', end = ' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [2]:
n = int(input('Enter the length of the list: '))
lst = []

for i in range(n) :
    print('Input the integer {} :'.format(i+1), end = ' ')
    lst.append(int(input()))
    
print(lst)

Enter the length of the list: 5
Input the integer 1 : 1
Input the integer 2 : 2
Input the integer 3 : 3
Input the integer 4 : 4
Input the integer 5 : 5
[1, 2, 3, 4, 5]

In [3]:
lst = ['i', 'my', 'me', 'mine', 'me', 'my', 'me']

x = input('Enter a word to see if it is in the list or nah : ')

print(lst.count(x))

Enter a word to see if it is in the list or nah : me
3

In [29]:
n = int(input('Enter an integer : '))

x = 2
lst = []

print(n, ' = ', end = '')
while True :
    if n % x == 0 :
        n = n // x
        lst.append(x)
    else :
        x += 1
       
    if n <= 1 :
        break

print(*lst, sep = ' * ')
print('Done')

Enter an integer : 20
20  = 2 * 2 * 5
Done

In [35]:
while True :
    n = input('enter an integer : ')
    if n.isdigit() == True:
        n = int(n) 
        break
    else :
        print('again')
        
print(n, 'is an integer.')

enter an integer : 20
20 is an integer.

In [39]:
while True :
    n = input('Enter a number : ')
    try :
        n = int(n)
        break
    except ValueError:
        print('again')
print(n)

Enter a number : -903
-903

In [42]:
while True :
    n = input('Enter a number : ')
    if n.isdigit() == False :
        break
    elif n < 0 :
        print('again')
    else :
        print('again')
        
print(n)

Enter a number : -90

TypeError: '<' not supported between instances of 'str' and 'int'