# 1. Sequential Programming Plan
## 1.1. Output a self-introduction letter

In [1]:
print("Hello, My name is Ung Sereyvatana")

Hello, My name is Ung Sereyvatana

## 1.2. Flowchart of Finding Accomodation

## 1.3. Code 7 `print` statement to product the following output:
```
    *
   ***
  *****
*********
  *****
   ***
    *
```

## 1.4.ðŸ”¥ Create a flowchart to factorize 18, 39, 63, 126, 792

In [7]:
n = 5
fact = n * (n-1) * (n-2) * (n-3) * (n-4)
print(fact)

120

# 2. Variables, Data Types, Operators
## 2.1. Use `int` to add string '50' with number 50 to output 100.
Then use `str` to output '5050'

In [10]:
print(int('50') + 50)
print(str(50) + '50')

100
5050

## 2.2. You have one instance of '1' and three instances of '0'. Output number 1000.
Use `int` only once

In [12]:
print(int('1' + '0' + '0' + '0'))
print(type(int('1' + '0' + '0' + '0')))

1000
<class 'int'>

## 2.3. Print the circumference and area of circle

In [15]:
PI = 3.14159
r = 5
circum = PI * r * 2
area = PI * r * r
print('circumference of circle is', circum)
print('area of circle is', area)

circumference of circle is 31.4159
area of circle is 78.53975

## 2.4. Using integer and * operator to output factorial of 5 and 10 like below
Output:   
Calculate the factorial.   
5! = 120

Calculate the factorial.   
10! = 3628800

In [18]:
fact5 = 5 * 4 * 3 * 2 * 1
fact10 = 10 * 9 * 8 * 7 * 6 * 5 * 4 * 3 * 2 * 1
print('Calculate the factorial.\n5! =', fact5)
print('\nCalculate the factorial.\n10! =', fact10)

Calculate the factorial.
5! = 120

Calculate the factorial.
10! = 3628800

# 3. String input output, Built-in Functions, Module

## 3.1. Assign 30 and 60 to variable `width` and `height` respectively. Calculate area of rectangle then output
Area of the rectangle: 1800

In [19]:
width = 30
height = 60
area = width * height
print('Area of the rectangle:', area)

Area of the rectangle: 1800

## 3.2. Calculate the length of hypotenuse
- First line should prompt for the base.  
- Second line should prompt for the height.   
- 3rd line is the output

In [20]:
base = int(input("base : "))
height = int(input("height : "))
hypo = pow((pow(base, 2) + pow(height, 2)), 1/2)
print("hypotenuse :", hypo)

base : 3
height : 4
hypotenuse : 5.0

## 3.3. BMI Calculator
- Obtain user's name, height and weight
- Unit of BMI is Kg/m^2

In [23]:
name = input("name : ")
height = int(input("height(kg) : "))
weight = int(input("weight(cm) : "))
BMI = height / (weight * weight)
print('{}\'s BMI : {}'.format(name, BMI))

name : vatana
height(kg) : 45
weight(cm) : 168
vatana's BMI : 0.0015943877551020409

## 3.4.ðŸ”¥ Change calculator
- The coins for change are only 500 and 100
- Input the money
- Input the price of goods
- Calculate the changes

In [27]:
money = int(input('money : '))
goods = int(input('goods : '))

change = money - goods
big_coin = change // 500
small_coin = (change % 500) // 100

print('The left with {} big coin and {} small coin.'.format(big_coin, small_coin))

money : 1500
goods : 400
The left with 2 big coin and 1 small coin.

## 3.5. Get radius from user and calculate the circumference and area of a circle
- use PI = 3.141592
- Output Sample:
    - Enter the radius of a circle: 11
    - Circumference of the circle:....., Area:....

In [30]:
PI = 3.141592
r = int(input('Enter the radius of a circle: '))
circum = 2 * PI * r
area = PI * r * r
print('Circumference of the circle: {:.2f}, Area: {:.2f}'.format(circum, area))

Enter the radius of a circle: 11
Circumference of the circle: 69.12, Area: 380.13

## 3.6. Display squared result in table of the value from 2 to 6
Output:   
```
a    n    a**n
2    2    4
3    2    9
4    2    16
5    2    25
6    2    36
```

In [33]:
a = 2
n = 2
print('a\tn\ta**n')
print('{}\t{}\t{}'.format(a, n, a ** n))
a += 1
print('{}\t{}\t{}'.format(a, n, a ** n))
a += 1
print('{}\t{}\t{}'.format(a, n, a ** n))
a += 1
print('{}\t{}\t{}'.format(a, n, a ** n))
a += 1
print('{}\t{}\t{}'.format(a, n, a ** n))

a	n	a**n
2	2	4
3	2	9
4	2	16
5	2	25
6	2	36

# 4. Boolean Expression
## 4.1. Leap Year
Output Sample:
```
Enter the year: 2023
False
```

In [37]:
year = int(input('Enter the year: '))

print((year % 4 == 0 and year % 100 != 0) or (year % 400 == 0))

Enter the year: 2023
False

## 4.2. Input from users, print True if input is odd and False otherwise
Output:
```
Enter an integer: 20
Is this number odd? False
```

In [40]:
n = int(input('Enter an integer: '))
print('Is this number odd?', n % 2 != 0)

Enter an integer: 20
Is this number odd? False

## 4.3. Input from users, print True is input is even number within range 0 to 10
Output:
```
Enter an integer: 12
Is the entered integer an even number within the range 0 to 10? False
```

In [44]:
n = int(input('Enter an integer: '))
print('Is the entered integer an even number within the range 0 to 10?', (n >= 0 and n <= 10) and n % 2 == 0)

Enter an integer: 12
Is the entered integer an even number within the range 0 to 10? False

## 4.4. Get input of 3digit integer from user. If the hundreds digit is 3, print True
Output:
```
Please enter a three-digit integer: 321
True
```

In [45]:
n = int(input('Please enter a three-digit integer: '))
print(n >= 300 and n < 400)

Please enter a three-digit integer: 321
True

## 4.5. Input an integer, print True if it is a multiple of 5
Output:
```
Enter an integer: 125
True
```

In [46]:
n = int(input('Enter an integer: '))
print(n % 5 == 0)

Enter an integer: 125
True

# 5. Conditional-1

## 5.1. Lottery simulation with 3 integers
- Winning numbers are 2, 3, 9
- User's input is 3 digit separated by spaces
- Print 'You won the lottery' if user correctly guesses the 3 numbers in any order

Output:
```
Please enter 3 lottery numbers : 2 9 3
You won the lottery
```

In [62]:
win_num1 = 2
win_num2 = 9
win_num3 = 3
count = 0

n1, n2, n3 = input('Please enter 3 lottery numbers: ').split()
print(n1,n2,n3)

n1, n2, n3 = int(n1), int(n2), int(n3)

if (n1 == win_num1 or n1 == win_num2 or n1 == win_num3) and (n2 == win_num1 or n2 == win_num2 or n2 == win_num3) and (n3 == win_num1 or n3 == win_num2 or n3 == win_num3) :
    print('You win')

Please enter 3 lottery numbers: 2 3 9
2 3 9
You win

## 5.2. Get input from user and check if it is a multiple of both 3 and 5
Output:
```
Enter integer: 30
True
```

In [63]:
n = int(input('Enter integer: '))
print(n % 3 == 0 and n % 5 == 0)

Enter integer: 30
True

## 5.3. print 'You are a pro.' if game_score input is 1000 or more
Output:
```
Enter game score: 1500
You are a pro.
```

In [64]:
n = int(input('Enter game score: '))
if n >= 1000 :
    print('You are a pro.')

Enter game score: 1500
You are a pro.

## 5.4. Get an integer input x between -100 and 100 and then:
1. Print x on screen
2. If x is a positive integer, print '... is a natural number' Otherwise, only print x as it is.

Output:
```
Enter integer: 50

x = 50
50 is a natural number.
```

In [1]:
x = int(input('Enter integer: '))

print('x =', x)
if x > 0 :
    print(x, 'is a natural number.')

Enter integer: 50
x = 50
50 is a natural number.

## 5.5. Get age input from user and:
- print 'Adult' if the age is 20 or above
- print 'Youth' if the age is 10 or above but less than 20
- print 'Kid' if the age is below 10
**Note**: Use `if` only.

In [2]:
age = int(input('Enter your age: '))

if age >= 20 :
    print('Adult')
if age >= 10 and age < 20 :
    print('Youth')
if age < 10 :
    print('Kid')

Enter your age: 25
Adult

## 5.6. Get age and height inputs from user
Print 'You can enter.' if the age is 65 years old or younger and height is 110 cm or above.

Output:
```
Enter your age: 20
Enter your height (in cm): 180

You can enter.
```

In [66]:
age = int(input('Enter your age: '))
height = int(input('Enter your height (in cm): '))

if age <= 65 and height >= 110 :
    print('You can enter')

Enter your age: 20
Enter your height (in cm): 180
You can enter

# 6. Conditional-2
## 6.1. Odd or even number
- Get user input as integer
- If the number is negative. print '...is a negative number'
- If the number is not negative. print '...is not a negative number'. Then decide if it is 'odd' or 'even'

Output:
```
Enter an int: 100
100 is not a negative number.
Even
```

In [68]:
n = int(input('Enter an int: '))

if n > 0 :
    print(n,'is not a negative number.')
    if n % 2 == 0 :
        print('Even')
    else :
        print('Odd')

Enter an int: 100
100 is not a negative number.
Even

## 6.2. Get input and determine of it is positive, negative or zero
Output:
```
Enter a number: 0
It is zero
```

In [71]:
n = int(input('Enter a number: '))

if n > 0 :
    print('It is positive.')
elif n < 0 :
    print('It is negative.')
else :
    print('It is zero.')

Enter a number: 0
It is zero.

## 6.3.ðŸ”¥ Automatic menu ordering system
- Print the menu
- Let user choose an item
- Let user input number of the chosen item
- Print total amount
- Let user input money
- If money is not enough, print 'Not enough money'
- Otherwise, print the input money and the change

Output:
```
##############################
It's David's fruit shop.
1: Apple( Price: 5,000 won)
2: Grape( Price: 6,000 won)
3: Melon( Price: 8,000 won)
4: Orange( Price: 2,000 won)
##############################
Enter number of the items (1 to 4): 1
Enter the number of items: 2

The fruit you chose is: Apple
The price of: 5000
Total price: 10000

Please input the money: 12000
Got 12000 won. The change is 2000 won.
```

In [77]:
print('#' * 50)
print("It's Daivd's fruit shop.")
print('1: Apple( Price: 5,000 won)')
print('2: Grape( Price: 6,000 won)')
print('3: Melon( Price: 8,000 won)')
print('4: Orange( Price: 2,000 won)')
print('#' * 50)

item = int(input('Enter number of the items (1 to 4): '))
if item == 1 :
    fruit = 'Apple'
    price = 5000
elif item == 2 :
    fruit = 'Grape'
    price = 6000
elif item == 3 :
    fruit = 'Melon'
    price = 8000
elif item == 4 :
    fruit = 'Orange'
    price = 2000
else :
    print('Invalid item input')

amount = int(input('Enter amount of the item: '))
if amount < 1 and amount > 10 :
    print('Invalid amount')

print()
print('The fruit you chose is:', fruit)
print('The price of one fruit:', price)
total = price * amount
print('Total price:', total)

print()
money = int(input('Please input the money: '))
change = money - total
if change >= 0 :
    print('Got {} won. The change is {} won.'.format(money, change))
else :
    print('Not enough money. You own me {} won.'.format(abs(change)))

##################################################
It's Daivd's fruit shop.
1: Apple( Price: 5,000 won)
2: Grape( Price: 6,000 won)
3: Melon( Price: 8,000 won)
4: Orange( Price: 2,000 won)
##################################################
Enter number of the items (1 to 4): 1
Enter amount of the item: 2

The fruit you chose is: Apple
The price of one fruit: 5000
Total price: 10000

Please input the money: 12000
Got 12000 won. The change is 2000 won.

## 6.4.ðŸ”¥ GPA calculator
- Get user input score and print their grade accordingly
- if 90 and above, print 'A'
- if below 90 and above 80, print 'B'
- if below 80 and above 70, print 'C'
- if below 70 and above 60, print 'D'
- if below 60, print 'F'

Output:
```
Enter your grade: 88
Grade: B
```

In [80]:
score = int(input('Enter your score: '))
grade = ''

if score >= 90 :
    grade = 'A'
elif score >= 80 :
    grade = 'B'
elif score >= 70 :
    grade = 'C'
elif score >= 60 :
    grade = 'D'
else :
    grade = 'F'

print(grade)

Enter your score: 88
B

## 6.5. Get user input as single alphabet character
- if input is 'a, e, i, o or u' print 'It is a vowel'
- Otherwise, print 'It is a consonant.'

Output:
```
Enter the alphabet: k
k is a consonant
```

In [82]:
x = input('Enter an alphabet: ')

if x == 'a' or x == 'e' or x == 'i' or x == 'o' or x == 'u' :
    print(x, 'is a vowel')
else :
    print(x, 'is a consonent')

Enter an alphabet: k
k is a consonent

## 6.6. check if a is a multiple of b
Get user inputs as `a` and `b` (separated by space)

Output:
```
Write 2 integers: 30 3

30 is a multiple of 3
```

In [84]:
a, b = input('Write 2 integers: ').split()
a, b = int(a), int(b)

if a % b == 0 :
    print(a, 'is a multiple of', b)
else :
    print(a, 'is not a multiple of', b)

Write 2 integers: 30 3
30 is a multiple of 3

## 6.7. Penalty shootout:
- Draw the flowchart FIRST ðŸ”¥
- Cannot use `list` data type
- Computer will be the goal keeper
- Print 'GOAL!' if user score the goal
- Else, print 'No goal'

Output:
```
Where do you want to shoot? (left, center, right): right

No goal
Defense position of computer: right
```

In [2]:
from random import randint

r = randint(0, 2)
if r == 0 :
    computer = 'left'
elif r == 1 :
    computer = 'center'
else :
    computer = 'right'
    
user = input('Where do you want to shoot? (left, center, right): ')

if user == computer :
    print('No Goal')
else :
    print('Goal')

print('Defense position of computer:', computer)

Where do you want to shoot? (left, center, right): center
Goal
Defense position of computer: left

## 6.8. Perform addition, subtraction, multiplication and division
Output1:
```
1) addition, 2) subtraction, 3) multiplicatio, 4) division
Please enter the number corresponding to the operation: 1
please enter two numbers for the operation:
10
20

10 + 20 = 30
```

Output2:
```
1) addition, 2) subtraction, 3) multiplicatio, 4) division
Please enter the number corresponding to the operation: 5

Invalid input.
```

In [9]:
print('1) addition, 2) subtraction, 3) multiplication 4) division: ')
o = int(input('Please enter the number corresponding to the operation: '))
if o > 0 and o <= 4 :
    print('Please enter two numbers for the operation: ')
    a = int(input())
    b = int(input())
    
    if o == 1 :
        op = '+'
        c = a + b
    elif o == 2 :
        op = '-'
        c = a - b
    elif o == 3 :
        op = '*'
        c = a * b
    else :
        op = '/'
        c = a / b
    
    print('{} {} {} = {}'.format(a, op, b, c))
    
else :
    print('Invalid input.')

1) addition, 2) subtraction, 3) multiplication 4) division:
Please enter the number corresponding to the operation: 3
Please enter two numbers for the operation:
10
20
10 * 20 = 200

## 6.9. Determine which quadrant the point belongs to
The quadrants are defined as below:
```
            y
2 quadrant  | 1 quadrant
____________|____________x
            |
3 quadrant  | 4 quadrant
```

Output:
```
Enter x,y coordinates: -5 6

In the 2nd quadrant
```

In [10]:
x, y = input('Enter x, y, coordinates: ').split()
x, y = int(x), int(y)

if x > 0 and y > 0 :
    pos = '1st'
elif x < 0 and y > 0 :
    pos = '2nd'
elif x < 0 and y < 0 :
    pos = '3rd'
elif x > 0 and y < 0 :
    pos = '4th'
else :
    pos = 'origin'
    
print('In the {} quadrant'.format(pos))

Enter x, y, coordinates: 5 6
In the 1st quadrant

## 6.10. Menu ordering program
- Present the user with menu options and let them choose one
- If an alphabet that's not in the menu is entered, output 'Please enter the menu again.' and prompt for input again.

Output:
```
Welcome to Yummy restaurant. Here is the menu.
- Burger(enter 'b')
- Chicken(enter 'c')
- Pizza(enter 'p')

Choose a menu : p

You chose pizza.
```

In [25]:
print('Welcome to Yummy restaurant. Here is the menu.')
print("- Burger(enter 'b')\n- Chicken(enter 'c')\n- Pizza(enter 'p')\n")
choice = input('Choose a menu : ')

print()
if choice != 'b' and choice != 'c' and choice != 'p' :
    print('Please enter the menu again.')
else :
    if choice == 'b' :
        food = 'burger'
    elif choice == 'c' :
        food = 'chicken'
    elif choice == 'p' :
        food = 'pizza'  
    print('You chose {}.'.format(food))

Welcome to Yummy restaurant. Here is the menu.
- Burger(enter 'b')
- Chicken(enter 'c')
- Pizza(enter 'p')

Choose a menu : p

You chose pizza.

# 7. List data type

## 7.1. Create a list called prime_list that contains prime numbers from 2 to 10.
Print the first element of this list using list indexing.   
Output:
```
1st element of prime_list: 2
```

In [26]:
prime_list = [2, 3, 5, 7]
print(prime_list[0])

2

## 7.2. Create prime_list again.
Use `append` method to add 11. Print the list before and after adding.   
Output:
```
Prime numbers: [2,3,5,7]
prime numbers after addition: [2,3,5,7,11]
```

In [27]:
prime_list = [2, 3, 5, 7]
prime_list.append(11)
print(prime_list)

[2, 3, 5, 7, 11]

## 7.3. Use nested for loop to multiply each element of list1 with each of list2
Output:
```
list1 = [3,5,7]
list2 = [2,3,4,5,6]

3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18

5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30

7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
```

In [32]:
list1 = [3, 5, 7]
list2 = [2, 3, 4, 5, 6]
print('list1 =', list1)
print('list2 =', list2)
print()
for i in list1 :
    for j in list2 :
        print('{} * {} = {}'.format(i, j, i * j))
    print()

list1 = [3, 5, 7]
list2 = [2, 3, 4, 5, 6]

3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18

5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30

7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42

## 7.4. Average age of 4 people
- Draw flow chart first ðŸ”¥
- Create a list containing info of a person in the order of name, age, gender, height and weight:
![Screenshot%202023-07-27%20at%205.26.23%20PM.png](attachment:Screenshot%202023-07-27%20at%205.26.23%20PM.png)

Output:
```
Average age is 26.75.
```

In [39]:
p1 = ['David Doe', 20, 1, 100.0, 100.0]
p2 = ['John Smith', 25, 1, 170.0, 70.0]
p3 = ['Jane Carter', 22, 0, 169.0, 60.0]
p4 = ['Peter Kelly', 40, 1, 150.0, 50.0]

p_all = p1 + p2 + p3 + p4
count = len(p_all) / len(p1)
print(sum(p_all[1::5]) / count)

26.75

## 7.5. Find the shortest string
- Define s_list = ['abc', 'bcd', 'bcdefg', 'abba', 'cddc', 'opq']
- Without using `min` or `sort` method, output the shortest string.
- Use loop.

Output:
```
The shortest string: abc
```

In [60]:
s_list = ['abc', 'bcd', 'bcdefg', 'abba', 'cddc', 'opq']
shortest = s_list[0]
for i in s_list:
    if len(i) < len(shortest) :
        shortest = i
print(shortest)

abc

## 7.6. Now output the longest string
Output:
```
The longest string: bcdefg
```

In [61]:
s_list = ['abc', 'bcd', 'bcdefg', 'abba', 'cddc', 'opq']
shortest = s_list[0]
for i in s_list:
    if len(i) > len(shortest) :
        shortest = i
print(shortest)

bcdefg

## 7.7. Now output 3 shortest strings
- Hint: use `sort(key=len)` method

Output:
```
The shortest strings: 'abc', 'bcd', 'opq'
```

In [31]:
s_list = ['abc', 'bcd', 'bcdefg', 'abba', 'cddc', 'opq']
s_list.sort(key = len)
shortest_strings = []
shortest_strings.append(s_list[0])
for i in range(1, len(s_list)) :
    if len(shortest_strings[0]) == len(s_list[i]) :
        shortest_strings.append(s_list[i])

print(shortest_strings)

['abc', 'bcd', 'opq']

# 8. loop-1: `for` loop
## 8.1. Calculate the factorial based on user input
Output:
```
Enter a number: 5
5! = 120
```

In [34]:
n = int(input('Enter a number: '))
fact = 1
for i in range(1, n + 1) :
    fact *= i
print('{}! = {}'.format(n, fact))

Enter a number: 5
5! = 120

## 8.2. Print all bts members using `for` loop
- Create a list bts = ['V', 'J-Hope', 'RM', 'Jungkook', 'Jin', 'Jimin', 'Suga']
- Use for loop and print all of them

In [35]:
bts = ['V', 'J-Hope', 'RM', 'Jungkook', 'Jin', 'Jimin', 'Suga']
for i in bts :
    print(i)

V
J-Hope
RM
Jungkook
Jin
Jimin
Suga

## 8.3. Sum of number from 1 to 100
- DO NOT use `sum` function
- Use `for` loop

Output:
```
Sum of integers from 1 to 100: 5050
```

In [36]:
summ = 0
for i in range(1, 101) :
    summ += i
print('Sum of integers from 1 to 100:', summ)

Sum of integers from 1 to 100: 5050

## 8.4. Print sum of even numbers from 1 to 100
- Use `range` function

Output:
```
Sum of even numbers from 1 to 100: 2550
```

In [39]:
summ = 0
for i in range(2, 101, 2) :
    summ += i
print('Sum of even numbers from 1 to 100:', summ)

Sum of even numbers from 1 to 100: 2550

## 8.5. Print sum of odd numbers from 1 to 100
Output:
```
Sum of odd numbers from 1 to 100: 2500
```

In [40]:
summ = 0
for i in range(1, 100, 2) :
    summ += i
print('Sum of even numbers from 1 to 100:', summ)

Sum of even numbers from 1 to 100: 2500

## 8.6. Sandwich combination
- Draw the flow chart ðŸ”¥
- The available data are as follow:
![Screenshot%202023-07-27%20at%205.28.03%20PM.png](attachment:Screenshot%202023-07-27%20at%205.28.03%20PM.png)

Output:
```
Possible combinations of David's sandwich shop:
Rye bread + Meatball + Lettuce + Mayonnaise
Rye bread + Meatball + Lettuce + Honey mustard
.....
```

In [41]:
bread = ['Rye bread', 'Wheat', 'White']
meat = ['Meatball', 'Sausages', 'Chicken breast']
vegetable = ['Lettuce', 'Tomato', 'Cucumber']
sauce = ['Mayonnaise', 'Honey mustard', 'Chili sauce']

for b in bread :
    for m in meat :
        for v in vegetable :
            for s in sauce :
                print('{} + {} + {} + {}'.format(b, m, v, s))
    print()

Rye bread + Meatball + Lettuce + Mayonnaise
Rye bread + Meatball + Lettuce + Honey mustard
Rye bread + Meatball + Lettuce + Chili sauce
Rye bread + Meatball + Tomato + Mayonnaise
Rye bread + Meatball + Tomato + Honey mustard
Rye bread + Meatball + Tomato + Chili sauce
Rye bread + Meatball + Cucumber + Mayonnaise
Rye bread + Meatball + Cucumber + Honey mustard
Rye bread + Meatball + Cucumber + Chili sauce
Rye bread + Sausages + Lettuce + Mayonnaise
Rye bread + Sausages + Lettuce + Honey mustard
Rye bread + Sausages + Lettuce + Chili sauce
Rye bread + Sausages + Tomato + Mayonnaise
Rye bread + Sausages + Tomato + Honey mustard
Rye bread + Sausages + Tomato + Chili sauce
Rye bread + Sausages + Cucumber + Mayonnaise
Rye bread + Sausages + Cucumber + Honey mustard
Rye bread + Sausages + Cucumber + Chili sauce
Rye bread + Chicken breast + Lettuce + Mayonnaise
Rye bread + Chicken breast + Lettuce + Honey mustard
Rye bread + Chicken breast + Lettuce + Chili sauce
Rye bread + Chicken breast + Tomato + Mayonnaise
Rye bread + Chicken breast + Tomato + Honey mustard
Rye bread + Chicken breast + Tomato + Chili sauce
Rye bread + Chicken breast + Cucumber + Mayonnaise
Rye bread + Chicken breast + Cucumber + Honey mustard
Rye bread + Chicken breast + Cucumber + Chili sauce

Wheat + Meatball + Lettuce + Mayonnaise
Wheat + Meatball + Lettuce + Honey mustard
Wheat + Meatball + Lettuce + Chili sauce
Wheat + Meatball + Tomato + Mayonnaise
Wheat + Meatball + Tomato + Honey mustard
Wheat + Meatball + Tomato + Chili sauce
Wheat + Meatball + Cucumber + Mayonnaise
Wheat + Meatball + Cucumber + Honey mustard
Wheat + Meatball + Cucumber + Chili sauce
Wheat + Sausages + Lettuce + Mayonnaise
Wheat + Sausages + Lettuce + Honey mustard
Wheat + Sausages + Lettuce + Chili sauce
Wheat + Sausages + Tomato + Mayonnaise
Wheat + Sausages + Tomato + Honey mustard
Wheat + Sausages + Tomato + Chili sauce
Wheat + Sausages + Cucumber + Mayonnaise
Wheat + Sausages + Cucumber + Honey mustard
Wheat + Sausages + Cucumber + Chili sauce
Wheat + Chicken breast + Lettuce + Mayonnaise
Wheat + Chicken breast + Lettuce + Honey mustard
Wheat + Chicken breast + Lettuce + Chili sauce
Wheat + Chicken breast + Tomato + Mayonnaise
Wheat + Chicken breast + Tomato + Honey mustard
Wheat + Chicken breast + Tomato + Chili sauce
Wheat + Chicken breast + Cucumber + Mayonnaise
Wheat + Chicken breast + Cucumber + Honey mustard
Wheat + Chicken breast + Cucumber + Chili sauce

White + Meatball + Lettuce + Mayonnaise
White + Meatball + Lettuce + Honey mustard
White + Meatball + Lettuce + Chili sauce
White + Meatball + Tomato + Mayonnaise
White + Meatball + Tomato + Honey mustard
White + Meatball + Tomato + Chili sauce
White + Meatball + Cucumber + Mayonnaise
White + Meatball + Cucumber + Honey mustard
White + Meatball + Cucumber + Chili sauce
White + Sausages + Lettuce + Mayonnaise
White + Sausages + Lettuce + Honey mustard
White + Sausages + Lettuce + Chili sauce
White + Sausages + Tomato + Mayonnaise
White + Sausages + Tomato + Honey mustard
White + Sausages + Tomato + Chili sauce
White + Sausages + Cucumber + Mayonnaise
White + Sausages + Cucumber + Honey mustard
White + Sausages + Cucumber + Chili sauce
White + Chicken breast + Lettuce + Mayonnaise
White + Chicken breast + Lettuce + Honey mustard
White + Chicken breast + Lettuce + Chili sauce
White + Chicken breast + Tomato + Mayonnaise
White + Chicken breast + Tomato + Honey mustard
White + Chicken breast + Tomato + Chili sauce
White + Chicken breast + Cucumber + Mayonnaise
White + Chicken breast + Cucumber + Honey mustard
White + Chicken breast + Cucumber + Chili sauce

## 8.7.ðŸ”¥ Snake matrix hehe
Output:
```
Enter n: 4

1  2  3  4
8  7  6  5
9  10 11 12
16 15 14 13
```

In [101]:
n = int(input('Enter n: '))
count = 1
for i in range(1, n + 1) :
    
    if i % 2 == 1 :
        for j in range(1, n + 1) :
            print(count, end = '\t')
            count += 1
    
    else :
        for j in range(n, 0, -1) :
            print(count + j - 1, end = '\t')
        
        count += n
    
    print()

Enter n: 4
1	2	3	4
8	7	6	5
9	10	11	12
16	15	14	13

# 9. Loop-2: `while` loop
## 9.1. Prompt user input again and again until the condition is satisfied:
- Given a list of ['rock', 'paper', 'scissors']
- If the user input something different from these elements in the list, ask them to prompt again
- If the user input correctly, exit the program

Output:
```
Choose between rock, paper, scissors: ggwp
Choose between rock, paper, scissors: blah
Choose between rock, paper, scissors: rock
Ok good. Bye!
```

In [105]:
choice = ['rock', 'paper', 'scissors']

while True :
    user = input('Choose between rock, paper, scissors:')
    if user in choice :
        print('Ok good. Bye!')
        break

Choose between rock, paper, scissors:ggwp
Choose between rock, paper, scissors:blah
Choose between rock, paper, scissors:rock
Ok good. Bye!

## 9.2. Use `while` to create a multiplication table of 2
Output:
```
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
```

In [2]:
i = 1 
n = 2
while i < 10 :
    print('{} * {} = {}'.format(n, i, n * i))
    i += 1

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

## 9.3. Create multiplication table of 1 to 9

Output:
```
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
...
```

In [12]:
i = 1
j = 0
while i < 10 :
    j = 1
    while j < 10 :
        print('{} * {} = {}'.format(i, j, i * j))
        j += 1
    i += 1
    print()

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

## 9.4. Snail in the well
- Draw flow chart first ðŸ”¥
- How many days can the snail get out of the well?
- The well is 30 deep
- In one day, snail can climb up 3 in the morning and slide down 2 in the afternoon

Output:
```
day : 1 position of snail: 3m
day : 2 position of snail: 4m
....
day : 28 position of snail: 30m

It took 28 days to escape the well
```

In [21]:
current_pos = 0
days = 1
move_up = 3
move_down = 2
destination = 30

while True :
    current_pos += move_up
    print('day : {} position of snail: {}m'.format(days, current_pos))
    if current_pos >= destination :
        break
    current_pos -= move_down
    days += 1
    
print('\nIt took {} days to escape the well'.format(day))

day : 1 position of snail: 3m
day : 2 position of snail: 4m
day : 3 position of snail: 5m
day : 4 position of snail: 6m
day : 5 position of snail: 7m
day : 6 position of snail: 8m
day : 7 position of snail: 9m
day : 8 position of snail: 10m
day : 9 position of snail: 11m
day : 10 position of snail: 12m
day : 11 position of snail: 13m
day : 12 position of snail: 14m
day : 13 position of snail: 15m
day : 14 position of snail: 16m
day : 15 position of snail: 17m
day : 16 position of snail: 18m
day : 17 position of snail: 19m
day : 18 position of snail: 20m
day : 19 position of snail: 21m
day : 20 position of snail: 22m
day : 21 position of snail: 23m
day : 22 position of snail: 24m
day : 23 position of snail: 25m
day : 24 position of snail: 26m
day : 25 position of snail: 27m
day : 26 position of snail: 28m
day : 27 position of snail: 29m
day : 28 position of snail: 30m

It took 28 days to escape the well

## 9.5.ðŸ”¥ Check if a number is palindrome
Use only `while` loop

Output:
```
Enter an integer: 135

135 is not a palindrome number.
```

In [9]:
num = int(input("Enter an integer: "))
temp = num
rev = 0
while (num > 0) :
    dig = num % 10
    rev = rev * 10 + dig
    num = num // 10
    print(dig)

if(temp == rev) :
    print(temp,"is a palindrome number.")
else:
    print(temp,"is not a palindrome number.")

Enter an integer: 135
5
3
1
135 is not a palindrome number.

## 9.6. Guess a number between 1 to 100
- Create a random number
- Get user input until they guess the right number.
- Print the number of attempts

Output:
```
Guess a number between 1 to 100.
Enter a num: 20
Higher

Enter a num: 30
Lower

Enter a num: 22
Congrats!
Number of attemps = 3
```

In [34]:
from random import randint
r = randint(1, 100)
count = 0

while True :
    print('Guess a number between 1 to 100')
    n = int(input('Enter a num: '))
    if n > r :
        print('Lower\n')
        count += 1
    elif n < r :
        print('Higher\n')
        count += 1
    else :
        print('Congrats!')
        count += 1
        print('Number of attemps =', count)
        break

Guess a number between 1 to 100
Enter a num: 50
Lower

Guess a number between 1 to 100
Enter a num: 40
Lower

Guess a number between 1 to 100
Enter a num: 30
Lower

Guess a number between 1 to 100
Enter a num: 20
Lower

Guess a number between 1 to 100
Enter a num: 10
Lower

Guess a number between 1 to 100
Enter a num: 5
Lower

Guess a number between 1 to 100
Enter a num: 4
Congrats!
Number of attemps = 7

# 10. Tuple and Sequence
## 10.1.

In [4]:
t1 = 'a', 'b', 'c'
t2 = ('a', 'b', 'c')
t3 = ('d', 'e')

print(t1 == t2)

print(t1 > t3)

print(t1 < t3)

print(t2 + t3)

print([t2 + t3])
print(type([t2 + t3]))

print(t1)

True
False
True
('a', 'b', 'c', 'd', 'e')
[('a', 'b', 'c', 'd', 'e')]
<class 'list'>
('a', 'b', 'c')

In [14]:
records = (100, 121, 120, 130, 140, 120, 122, 123, 190, 125)
count = 0
for i in range(len(records) - 1) :
    if records[i] > records[i + 1] :
        count += 1
        
print('In the past {} days, {} days had reduced sales compared to the previous day.'.format(len(records), count))

In the past 10 days, 3 days had reduced sales compared to the previous day.

## 10... Aging ratio calculator
Draw flowchart first ðŸ”¥

Output:
```
Villages A aging degree is 0.165
Villages B aging degree is 0.003
```

In [19]:
populationA = (100, 150, 230, 120, 180, 100, 140, 95, 81, 21, 4)
populationB = (300, 420, 530, 420, 400, 300, 40, 5, 1, 1, 1)

oldA = sum(populationA[7:])
oldB = sum(populationB[7:])

sumA, sumB = sum(populationA), sum(populationB)

oldRateA, oldRateB = oldA/sumA, oldB/sumB

print('The aging degrees of villages A and B are {:5.3f} and {:5.3f} each.'.format(oldRateA, oldRateB))

The aging degrees of villages A and B are 0.165 and 0.003 each.

## 10.5
### Q1

In [4]:
tup = (1, 2, 5, 4, 3, 2, 1, 4, 7, 8, 9, 9, 3, 7, 3, 9)

most_frequently = tup[0]

for i in tup :
    if most_frequently < i and tup.count(most_frequently) <= tup.count(i) :
        most_frequently = i
        
print('Most Frequently occurring element:', most_frequently)

Most Frequently occurring element: 9

### Q2

In [44]:
tup = [(), (1,), [], 'abc', (), (), (1,), ('a',), ('a', 'b'), ((),), '']
temp = []

for i in tup :
    if len(i) != 0 :
        temp.append(i)

print('Result after remove empty elements:')
print(temp)

Result after remove empty elements:
[(1,), 'abc', (1,), ('a',), ('a', 'b'), ((),)]

In [6]:
tup = ('hello','a', 'world', 'python', 'programming')
sort_tup = sorted(tup, key=len, reverse=True)
print(sort_tup)

['programming', 'python', 'hello', 'world', 'a']

In [50]:
tuple_of_numbers = (10, 5, 2, 7, 3)
list_of_numbers = list(tuple_of_numbers)

print(list_of_numbers)

[10, 5, 2, 7, 3]

In [52]:
tuple_of_numbers = (10, 5, 2, 7, 3)

# Remove the element 2 from the tuple
tuple_of_numbers = tuple(element for element in tuple_of_numbers if element != 2)

print(tuple_of_numbers)

(10, 5, 7, 3)

In [13]:
N = int(input())
M = int(input())
K = int(input())

check = [0] * (N + 1)
print(check)
for _ in range(M) :
    x = int(input())
    for j in range(x - K, x + K + 1) :
        if 1 <= j <= N :
            check[j] = 1
            
cnt = 0
for i in range(1, N + 1) :
    if check[i] == 0 :
        cnt += 1
        for j in range(i, min(i + K * 2, N) + 1) :
            check[j] = 1

print(cnt)
print(check)

5
2
2
[0, 0, 0, 0, 0, 0]
1
4
0
[0, 1, 1, 1, 1, 1]