# 1. String

### 1.1. Single Quotes and Double Quotes

In [1]:
print('Hello World!')
print("Hello World!")

Hello World!
Hello World!

### 1.2. String and Variables

In [2]:
s1 = 'Hello World'
print(s1)

Hello World

### 1.3. Concatenation Operator and Repetition Operator

- We can use the addtion(+) operator and multiplication(*) operator with string data, but the roles of these operators are different from numeric data.

- In numeric data, the addition(+) operator is called the concatenation operator in String, and the multiplicaiton(*) operator is called the repetition operator.

In [4]:
s1 = "Hello"
s2 = "World!"
print(s1 + s2)

HelloWorld!

In [5]:
'I' + 'Love' + 'Python!'

'ILovePython!'

In [6]:
'Python' * 10

'PythonPythonPythonPythonPythonPythonPythonPythonPythonPython'

In [7]:
'*' * 50

'**************************************************'

In [8]:
str(100) * 10

'100100100100100100100100100100'

In [9]:
# The * operation on string can only be used with integer. Otherwise, an error occurs.

'*' * 3.1

TypeError: can't multiply sequence by non-int of type 'float'

In [10]:
'A' + 1

TypeError: can only concatenate str (not "int") to str

In [11]:
"10" + 10

TypeError: can only concatenate str (not "int") to str

### 1.4. String Indexing

- We learned that we can see the data type by using the type statement inside the print statement. In Python, string is of the str type.

In [12]:
print(type('This is a string!'))

<class 'str'>

- When we want to obtain a substring from a long string, we use square brackets[] and a number.
- String indexing starts from the left of the string, with the first character being 0. The 'nth' position in this sequence is called an index.

In [13]:
"hello"[0]

'h'

- Python uniquely supports negative indexing, which refers to characters from the right side of the string.

In [14]:
"hello"[-1]

'o'

In [15]:
"hello"[-5]

'h'

In [16]:
"hello"[5]

IndexError: string index out of range

### 1.5. Multiline String

- As we learned in multiline comments, by entering three consecutive single quotes(') or double quotes(") at the beginning and end of a sentence, we can create multiline String.

In [17]:
text = '''the first line
the second line'''
print(text)

the first line
the second line

In [19]:
text = 'the first line\nthe second line'
print(text)

the first line
the second line

### 1.6. Writing Quotes within String

In [20]:
text = '"double quotation marks"'
print(text)

"double quotation marks"

In [21]:
text = "'single quotation marks'"
print(text)

'single quotation marks'

In [23]:
text = "\"double quotation marks\""
print(text)

"double quotation marks"

In [24]:
text = "\'single quotation marks\'"
print(text)

'single quotation marks'

### 1.7. Escape sequence

In [25]:
text = 'Write a \ttab in the middle of a sentence'
print(text)

Write a 	tab in the middle of a sentence

### 1.8. String formatting

- String formatting is a way to insert variables, values, and expressions into a string.

- By using string formatting, you can dynamically insert changing values into a string in the desired format. It uses the format statement provided by String.

In [26]:
value1 = 1
value2 = '2'
'fist value {} and second value {}'.format(value1, value2)

'fist value 1 and second value 2'

In [27]:
'Hello {}!'.format('Python')

'Hello Python!'

In [28]:
'first value {} and second value {}'.format(1, 2)

'first value 1 and second value 2'

In [29]:
'{} + {} = {}'.format(1, 2, 1 + 2)

'1 + 2 = 3'

- You can specify the orrder as an integer value inside the placeholder. If no order is specified, it defaults to 0, 1, etc. in order.

In [30]:
'I like {} and {}'.format('Python', 'Java')

'I like Python and Java'

In [31]:
'I like {0} and {1}'.format('Python', 'Java')

'I like Python and Java'

In [32]:
'I like {1} and {0}'.format('Python', 'Java')

'I like Java and Python'

In [36]:
'{0}, {0}, {}! Python'.format('Hello', 'Hi')

ValueError: cannot switch from manual field specification to automatic field numbering

In [37]:
'{0}, {0}, {1}! Python'.format('Hello', 'Hi')

'Hello, Hello, Hi! Python'

In [38]:
'{0} {1}, {0} {1}, {0} {1}!'.format(100, 200)

'100 200, 100 200, 100 200!'

- When specifying a field width using a colon (:) inside the placeholder, you can also specify the spacing between characters, i.e., the field width. You must include a number after the colon.

In [2]:
'{:10}'.format(123)

'       123'

In [40]:
'{:10}'.format('Hello')

'Hello     '

- In the above code, a field width of :10 is specified inside the {}. You can see that even for numbers, spaces appear on the left, and for String, spaces appear on the right.

- You can specify the alignment based on whether the value is a numeric type or a string type.

In [41]:
value = 123
formatted_value = '{:10}'.format(value)
print(formatted_value)

formatted_value = '{:<10}'.format(value)
print(formatted_value)

formatted_value = '{:>10}'.format(value)
print(formatted_value)

formatted_value = '{:^10}'.format(value)
print(formatted_value)

       123
123
       123
   123

In [42]:
value = 'Hello'
formatted_value = '{:10}'.format(value)
print(formatted_value)

formatted_value = '{:<10}'.format(value)
print(formatted_value)

formatted_value = '{:>10}'.format(value)
print(formatted_value)

formatted_value = '{:^10}'.format(value)
print(formatted_value)

Hello
Hello
     Hello
  Hello

- By using d inside the placeholder, you can receive integer values, and by using f, you can receive floating-point values, including numbers with decimal points.

    - {:10d} takes up ten spaces and receives integer values.
    - {:10f} takes up ten spaces and receives floating-point values.

In [44]:
'{:10d}'.format(123)

'       123'

In [45]:
'{:10f}'.format(123.5)

'123.500000'

In [47]:
'{:10f}'.format(123)

'123.000000'

In [48]:
'{:10.2f}'.format(123)

'    123.00'

In [49]:
'{:10d}'.format(123.5)

ValueError: Unknown format code 'd' for object of type 'float'

- Since {:10f} fills the empty space with 0, it is meaningless to use itt with alignment symbols.

In [51]:
value = 123
formatted_value = '{:10f}'.format(value)
print(formatted_value)

formatted_value = '{:<10f}'.format(value)
print(formatted_value)

formatted_value = '{:>10f}'.format(value)
print(formatted_value)

formatted_value = '{:^10f}'.format(value)
print(formatted_value)

123.000000
123.000000
123.000000
123.000000

- Floating-point numbers with decimal places can be expressed in placeholder using f. {:10f} takes up ten spaces and receives a value as a floating-pointer number.

- By adding a dot and a number in front of f, you can specify how many decimal places to display.
    
    - {:10.3f} takes up ten spaces and displays up to three decimal places.

In [52]:
'{:10.3f}'.format(3.1415926)

'     3.142'

In [53]:
'{:10.4f}'.format(3.1415926)

'    3.1416'

### 1.9. String Splitting

- String splitting is the process of dividing a string into multiple strings based on a delimiter.

- By using the split function procided by String, you can split a single string into one or more String. By default, whitespace is used as the delimiter for splitting the string.

In [54]:
'Python is beautiful'.split()

['Python', 'is', 'beautiful']

In [55]:
word1, word2, word3 = 'Python is beautiful'.split()
print(word1, word2, word3)

Python is beautiful

- The delimiter that separates a single string into one or more individual strings is called a <span style="color:red">separator</span>.

In [56]:
year, month, day = '2023.5.15'.split('.')
print(year, month, day)

2023 5 15

In [57]:
text1, text2 = 'Hello, World'.split(',')
print(text1, text2)

Hello  World

### 1.10. Checking if a String is a Numeric Character

- We learned that enclosing numerical data with quotation marks turns it into a string.

- Among them, the characters taht clearly represent numbers from 0 to 9 within a string are called '<span style="color:orange">digit</span><span style="color:blue">characters</span>.' There is a way to check if a string is composed of 'digitcharacters.'

- The <span style="color:orange">isdigit statement</span> checks each character of the given string and returns True or False, indicating whether it consists only of numeric characters.

In [58]:
string1 = '12345'
print(string1.isdigit())

string2 = 'Hello'
print(string2.isdigit())

string3 = '3.14'
print(string3.isdigit())

string4 = '-42'
print(string4.isdigit())

string5 = '0'
print(string5.isdigit())

True
False
False
False
True

- Sometimes it is convenient to use the isdigit function before converting a string to the int type. This is because if the data is not of that type and you try to convert it, an error will occur.

In [59]:
int("Hello")

ValueError: invalid literal for int() with base 10: 'Hello'

In [60]:
int("3.14")

ValueError: invalid literal for int() with base 10: '3.14'

# 2.Writing Input Statement

### 2.1. Basic Usage of the input Statement

- Let's write a code that asks the user for their name.

- The input() statement is a <span style="color:orange">command that receive a value from the user.</span>

In [61]:
name = input('Please enter your name: ')
print('Hello,', name)

Please enter your name: Vatana
Hello, Vatana

### 2.2. Getting a Number Input from the User

- The input statement returns a string. Therefore, if you need to perform calculations with a number entered by the user, you need to convert that data type.

- By enclosing the input statement with the int function, you can receive an integer from the user.

In [62]:
x = int(input("Enter the first integer: "))
y = int(input("Enter the second integer: "))
s = x + y
print(x, "and", y, "sum up to", s, ".")

Enter the first integer: 2
Enter the second integer: 3
2 and 3 sum up to 5 .

In [63]:
x = int(input("Enter the first integer: "))
y = int(input("Enter the second integer: "))
s = x + y
print(x, "and", y, "sum up to", s, ".")

Enter the first integer: hundred

ValueError: invalid literal for int() with base 10: 'hundred'

- By enclosing the input statement with the float statement, you can receive a floating-point number with a decimal point from the user.

In [2]:
weight = float(input("Please enter your weight in kilograms(kg): "))
height = float(input("Please enter your height in meters(m): "))

bmi = (weight / (height ** 2))
print("Your BMI =", bmi)

Please enter your weight in kilograms(kg): 70
Please enter your height in meters(m): 1.75
Your BMI = 22.857142857142858

### 2.3. Splitting an Input String from the User

- By using the split statement on the string received from the input statement, you can receive multiple values from the user at once.

In [3]:
num1, num2, num3 = input('Enter three integers separated by space: ').split()
print(num1, num2, num3)

Enter three integers separated by space: 1 2 3
1 2 3

In [6]:
num1, num2, num3 = input('Enter three integers separated by comma: ').split(',')
print(num1, num2, num3)

Enter three integers separated by comma: 1,2,3
1 2 3

In [7]:
num1, num2, num3 = input('Enter three integers separated by comma: ').split(',')
num1, num2, num3 = int(num1), int(num2), int(num3)
print('{} + {} + {} = {}'.format(num1, num2, num3, num1 + num2 + num3))

Enter three integers separated by comma: 1,2,3
1 + 2 + 3 = 6

### 2.4. Writing Input Statement with String Formatting

- You can apply string formatting to the input statement to output a string that corresponds  to the question.

In [8]:
num = 1
text = 'name'
name = input('Q{}. Please enter your {}: '.format(num, text))
print(name)

Q1. Please enter your name: Vatana
Vatana

### 2.5. Change Calculator Program

In [9]:
money = int(input("Money you put in: "))
price = int(input("Price of goods: "))

change = money - price
print("Change:", change)
coin500s = change // 500
change = change % 500
coin100s = change // 100

print("The number of 500 won coins:", coin500s)
print("The number of 100 won coins:", coin100s)

Money you put in: 5000
Price of goods: 300
Change: 4700
The number of 500 won coins: 9
The number of 100 won coins: 2

In [10]:
num1 = 3
num2 = 0
print(num1 / num2)

ZeroDivisionError: division by zero

# 3. String and Output

### 3.1. The Print Statement and Commas

- When using a comma(,) in the print statement, you can output string and numerical values together. The comma(,) automatically inserts a space for output.

In [11]:
print('I am', 23, 'years old!')
print('I', 'really '*3, 'love', 'Python!')

I am 23 years old!
I really really really  love Python!

###  3.2. The Print Statement and teh End Parameter

- After executing the print statement, a line break occurs. However, if you specify a string using the 'end' keyword at the end of the print statement, the string is printed immediately after the output instead of a line break.

In [12]:
print('Hello', end = '')
print('World!')

HelloWorld!

In [13]:
print(1, end = '')
print(2)

12

In [14]:
print('Hello', end = ',')
print('World!')

Hello,World!

In [15]:
print("My name is", end = " ")
print('David')

My name is David

In [16]:
print("My name is", end = " : ")
print("David")

My name is : David

### 3.3. Print Statement and Separator

- By specifying a separator using the 'sep' keyword at the end of the print statement, a separator is printed between the values to be output.

In [17]:
print("Hello", 'World!', sep = ' ')

Hello World!

In [18]:
print('Hello', 'World!', sep = ',')

Hello,World!

In [19]:
print('s', 'e', 'p', sep = '-')

s-e-p

### 3.4. Output Using String Formatting

In [20]:
name = input('Enter your name : ')
age = input('Enter your age : ')
job = input('Enter your job : ')

print('Your name is {}, and {} years old, job is {}.'.format(name, age, job))

Enter your name : David
Enter your age : 23
Enter your job : Programmer
Your name is David, and 23 years old, job is Programmer.

# 4. Error and Debugging

### 4.1. Syntax Error

- Programming languages are executed based on strict rules. Syntax errors occur when a command violates prescribed grammar when coding in Python.

- To prevent syntax errors, you need to learn the correct Python syntax and code according to the prescribed rules.

In [21]:
print('hello)

SyntaxError: unterminated string literal (detected at line 1) (3574047905.py, line 1)

### 4.2. Runtime Error

- Unlike syntax errors, even sentences written in accordance with Python syntax can cause errors during execution. These errors are called <span style="color:orange">runtime errors.</span>

- To prevent runtime errors, as a developer, you need to consider that users can enter incorrect data and <span style="color:orange">send user-friendly</span> and <span style="color:orange">helpful input request messages.</span>

- Additionally, since exceptional cases can occur in all user inputs and code, it is necessary to perform <span style="color:orange">many tests for various situations.</span>

In [22]:
num = int(input('Input an integer : '))

Input an integer : two

ValueError: invalid literal for int() with base 10: 'two'