# 2. Loops

## 2.1. What is a loop ?

- Loops are essential control statements widely used because they simplify repetitive tasks that humans perform.

In [1]:
for i in range(5) :
    print("Welcome to everyone!!")

Welcome to everyone!!
Welcome to everyone!!
Welcome to everyone!!
Welcome to everyone!!
Welcome to everyone!!

In [2]:
i = 0 
while i < 5 :
    print("Welcome to everyone!!")
    i += 1

Welcome to everyone!!
Welcome to everyone!!
Welcome to everyone!!
Welcome to everyone!!
Welcome to everyone!!

## 2.3. Blocks and Python's indentation

- <span style="color:orange">block</span> is a section where a series of code statements are frouped together as a single unit of execution.

- The block of code in a loop statement is a chunk of code that can be executed when a certain condition is true.

- In Python, the block of code in a loop statement also <span style="color:orange">starts with identation</span>.

In [3]:
for i in range(5):
print('welcome')

IndentationError: expected an indented block after 'for' statement on line 1 (2602664884.py, line 2)

# 3. for Statement

## 3.2. Using the for-in statement with the string data type

In [5]:
for ch in 'Hello' :
    print(ch, end = ' ')

H e l l o

In [8]:
print('s', 'e', 'p', sep = ' - ')

s - e - p

In [9]:
print("My name is", end = " ")
print("David")

My name is David

In [10]:
print("My name is", end = " : ")
print("David")

My name is : David

## 3.3. Using the for-in statement with the list data type

In [11]:
numbers = [11, 22, 33, 44, 55, 66]
for n in numbers :
    print('n =', n)

n = 11
n = 22
n = 33
n = 44
n = 55
n = 66

In [12]:
numbers = [10, 20, 30, 40, 50]
s = 0
for n in numbers :
    s += n
print('Sum of list item values :', s)

Sum of list item values : 150

In [13]:
numbers = [10, 20, 30, 40, 50]
print('Sum of list item values :', sum(numbers))

Sum of list item values : 150

## 3.4. for-in range statement

- If the 'variable' that holds each element in the block of the for statement is not used, it can be ignored. The <span style="color:blue">underscore(_)</span> symbol is a special anonymous notation used in place of a blank space for variable names or function names that are meant to be ignored. <br> This type of variable is called a <span style="color:orange">dummy variable or throwaway variable</span>.

In [14]:
for _ in range(5) :
    print("Welcome to everyone!!")

Welcome to everyone!!
Welcome to everyone!!
Welcome to everyone!!
Welcome to everyone!!
Welcome to everyone!!

## 3.5. Lists and range

In [15]:
for _ in [1, 2, 3, 4, 5] :
    print('Welcome to everyone!!')

Welcome to everyone!!
Welcome to everyone!!
Welcome to everyone!!
Welcome to everyone!!
Welcome to everyone!!

In [16]:
print(list(range(100)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

# 4. range

## 4.1. Usage of the range function

- The range built-in function has three parameters. Among them, the first parameter, start, and the last parameter, step, have default values assigned (0 for start and 1 for step), so they can be omitted.

- Therefore, when we use range(n), it returns a sequence of integers increasing by 1 from 0 to n-1.

## <span style="color:orange">range ( start = 0, stop, step = 1 )</span>

In [18]:
print(list(range(5)))

[0, 1, 2, 3, 4]

In [19]:
print(list(range(0, 5)))

[0, 1, 2, 3, 4]

In [20]:
print(list(range(0, 5, 1)))

[0, 1, 2, 3, 4]

In [21]:
print(list(range(0, 5, 2)))

[0, 2, 4]

In [22]:
print(list(range(5, 0, -1)))

[5, 4, 3, 2, 1]

In [23]:
print(list(range(5, 0, -2)))

[5, 3, 1]

In [24]:
print(list(range(5, -1, -1)))

[5, 4, 3, 2, 1, 0]

In [25]:
print(list(range(-1, 5, 2)))

[-1, 1, 3]

In [26]:
for i in range(0.9) :
    print(i, 'Welcome to everyone!!')

TypeError: 'float' object cannot be interpreted as an integer

In [27]:
import numpy as np
print(np.arange(0.9, 1.2, 0.1))

[0.9 1.  1.1]

## 4.3. Using the sum function, sum variable, and name duplicaiton

In [28]:
print(sum(range(1, 11)))

55

In [30]:
sum = 0
for i in range(1, 11) :
    sum += i
print('The sum of 1 to 10 :', sum)
print(sum(range(1, 11)))

The sum of 1 to 10 : 55

TypeError: 'int' object is not callable

## 4.4. Calculating factorial

In [31]:
n = int(input('Enter a number : '))
fact = 1
for i in range(1, n + 1) :
    fact = fact * i
print(str(n) + '! =', fact)

Enter a number : 5
5! = 120