# 1. Tuple
## 1.1. Immutable attribute, mutable attribute

- Python data types

| Immutable attributes             | Mutable attributes |
| :---------------------------------| :------------------ |
| Numberic types <br><span style="color:orange">int, float</span>| List <br><span style="color:green">list</span> |
| Strings <br><span style="color:orange">str</span>| Set <br><span style="color:green">set</span>|
| Tuple <br><span style="color:orange">tuple</span>|Dictionary <br><span style="color:green">dic</span>|

## 1.2. Immutable data type, which cannot be modified once created: Tuple

In [1]:
colors = ("red", "green", "blue")
colors

('red', 'green', 'blue')

In [2]:
numbers = (1, 2, 3, 4, 5)
numbers

(1, 2, 3, 4, 5)

### A tuple is an immutable data type. Therefore, be careful when trying to modify the elements of a tuple, as it will result in an error.

In [4]:
t1 = (1, 2, 3, 4, 5)
t1[0] = 100

TypeError: 'tuple' object does not support item assignment

## 1.3. Defining a tuple

| Description | Syntax      |  |
| :--------------------------------------------------- | :------------------------------: | :-----------: |
| Creating an empty tuple | tuple0 = tuple() | Must use empty parenthesis|
| Creating a tuple with a single element | tuple1 = (1,) | Must use comma |
| Creating a basic tuple using parentheses | tuple2 = (1, 2, 3,4) |  |
| Creating a simple tuple using only commas<br>without parentheses   | tuple3 = 1, 2, 3, 4 |  |
| Creating a tuple form a list   | n_list = [1, 2, 3, 4]<br>tuple4 = tuple(n_list) |  |

## 1.4. Precaution when defining a tuple: integer type and tuple type variables

In [5]:
tup = (100)
print(tup)
print(type(tup))

100
<class 'int'>

In [6]:
tup = (100,)
print(tup)
print(type(tup))

(100,)
<class 'tuple'>

## 1.5. Packing, unpacking

- <span style="color:orange">Packing</span>: Putting multiple values into a single variable.
- <span style="color:orange">Unpacking</span>: If there is a packed variable, it means extracting multiple values from it.

<span style="color:orange"></span>

In [8]:
a = (1, 2)
a[0]

1

In [9]:
a[1]

2

In [10]:
c = (3 ,4)
x, y = c
x

3

In [11]:
y

4

## 1.6. Tuple sorting methods

- Since tuples are immutable, the sort method cannot be used to change their elements.

- Therefore, when soring the elements of a tuple, you can convert the tuple to a list and then use the sort methos to sort the numbers.

In [12]:
tup = (1, 2, 5, 4, 3, 2, 9, 3, 7, 3, 9)
temp = list(tup)
temp.sort()
print(temp)

[1, 2, 2, 3, 3, 3, 4, 5, 7, 9, 9]

# 2. Sequence types
## 2.1. range function and sequence types

In [13]:
even_list = list(range(2, 11, 2))
print('even_list =', even_list)

even_list = [2, 4, 6, 8, 10]

In [14]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
list(range(2, 10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
list(range(2, 10, 3))

[2, 5, 8]

## 2.3. Index and indexing

- Index
> - It refers to the number that points to the value of an element in a list or sequence.
> - The index of a list with n elements increse from 0 to n-1.

In [17]:
list1 = [11, 11, 11, 22, 33, 44]
print(list1[0])
print(list1[2])

11
11

In [19]:
str1 = 'hello world'
print(str1[2])
print(str1[7])

l
o

In [20]:
tup1 = (1, 1, 1, 2, 3, 3, 4)
tup1[3]

2

In [21]:
ran = range(0, 5, 1)
ran[4]

4

## 2.4. Slicing

In [22]:
tup0 = (10, 20, 30, 40, 50, 60, 70, 80)
print(tup0[1 : 5])

(20, 30, 40, 50)

In [23]:
print(tup0[1 : ])

(20, 30, 40, 50, 60, 70, 80)

In [24]:
print(tup0[ : ])

(10, 20, 30, 40, 50, 60, 70, 80)

## 2.5. Negative indexing

- The <span style="color:orange">string</span> data type follows the same rule for negative indexing.

In [25]:
str1 = 'abcdef'
print(str1[-1])
print(str1[-6])

f
a

- The <span style="color:orange">range</span> data type follows the same rule for negative indexing.

In [31]:
ran = range(1, 7)
print(ran[-6])
print(ran[-1])

1
6

## 2.6. Slicing using negative indexing

In [27]:
tup0 = (10, 20, 30, 40, 50, 60, 70, 80)
print(tup0[-1])

80

In [28]:
print(tup0[-6])

30

In [32]:
print(tup0[-7 : -2])

(20, 30, 40, 50, 60)

In [33]:
print(tup0[-7 : ])

(20, 30, 40, 50, 60, 70, 80)

In [34]:
print(tup0[: -2])

(10, 20, 30, 40, 50, 60)

## 2.7. Membership operator: in, not in

- <span style="color:blue">'in'</span> operator: Returns True if the member is present, and False if it is not.
- <span style="color:blue">'not in'</span> operator: Returns False if the member is present, and True if it is not.

In [35]:
list1 = [10, 20, 30, 40]
10 in list1

True

In [36]:
10 not in list1

False

In [37]:
tup = (1, 2, 3, 4)
3 in tup

True

In [38]:
11 in range(10)

False

In [39]:
'a' in 'abcd'

True

## 2.8. len function

In [41]:
nations = ['Korea', 'China', 'Russia', 'Malaysia']
print('Last element of nations :', nations[len(nations)])

IndexError: list index out of range

In [43]:
nations = ['Korea', 'China', 'Russia', 'Malaysia']
print('Last element of nations :', nations[len(nations) - 1])

Last element of nations : Malaysia

## 2.9. Count method for determining the number of specific elements in a sequence

In [44]:
ran = range(0, 5, 1)
print(len(ran))
print(ran.count(2))

5
1

In [45]:
list1 = [11, 11, 11, 22, 33, 44]
print(list1.count(11))

3

In [46]:
str1 = 'hello world'
print(str1.count('l'))

3

# 3. Precaution when using sequence data types
## 3.1. Concatenation operator for sequence data types

- the range data type cannot be concatenated using the + operator.

In [47]:
list1 = [11, 22, 33, 44]
list2 = [55, 66]
print(list1)
print(list1 + list2)

[11, 22, 33, 44]
[11, 22, 33, 44, 55, 66]

In [48]:
tup1 = (1, 2, 3)
tup2 = (4, 5, 6)
print(tup1 + tup2)

(1, 2, 3, 4, 5, 6)

In [49]:
str1 = 'hello '
str2 = 'world'
print(str1 + str2)

hello world

In [50]:
range(10) + range(10, 20)

TypeError: unsupported operand type(s) for +: 'range' and 'range'

In [51]:
list(range(10)) + list(range(10, 20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [54]:
tuple(range(10)) + tuple(range(10, 20))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

## 3.2. Operator that duplicate sequence types

- Sequence data types can also use the repetition operator, which repeats the elements of the data type.
    - The syntax is 'sequence type * integer'.
    - However, range cannot use the * operator.

In [56]:
list1 = [11, 22, 33, 44] * 2
print(list1)

[11, 22, 33, 44, 11, 22, 33, 44]

In [57]:
tup1 = (1, 2, 3)
print(tup1 * 2)

(1, 2, 3, 1, 2, 3)

In [58]:
str2 = 'hello'
print(str2 * 3)

hellohellohello

In [59]:
range(10) * 3

TypeError: unsupported operand type(s) for *: 'range' and 'int'

In [60]:
ran = list(range(5)) * 3
print(ran)

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [61]:
ran = tuple(range(5)) * 3
print(ran)

(0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4)

In [62]:
list1 = [11, 22, 33, 44]
list2 = [55, 66]
print(list1 * list2)

TypeError: can't multiply sequence by non-int of type 'list'

## 3.3. Comparison operator

In [68]:
a = ('A', 'B', 'C')
b = ('A', 'B', 'D')

In [69]:
a > b

False

In [70]:
a < b

True

In [71]:
ord('C')

67

In [72]:
ord('D')

68

In [73]:
a = 'ABC'
b = 'ABD'

In [74]:
a > b

False

In [75]:
a < b

True

In [3]:
a = range(0, 5)
b = range(0, 6)
a > b

TypeError: '>' not supported between instances of 'range' and 'range'

# 4. Immutable data types
## 4.1. What are immutable data types?

- Immutable data types refer to data types that cannot be changed after they are created.

- In other words, they connot be modified internally. They can <span style="color:orange">only be reassigned.</span>

- <span style="color:blue">Tuples</span> are a representative example. Tuples cannot modify their internal elements. A new value must be assigned.

## 4.2. Immutable data types and the is operator

In [9]:
list1 = [10, 20, 30]
list2 = [10, 20, 30]
if list1 == list2 :
    print("It's same.")
    if list1 is list2 :
        print("It's same object.")
    else :
        print("It's different object.")
else :
    print("It's different.")

It's same.
It's different object.

In [10]:
string1 = 'ABC'
string2 = 'ABC'
if string1 == string2 :
    print("It's same.")
    if string1 is string2 :
        print("It's same object.")
    else :
        print("It's different object.")
else :
    print("It's different.")

It's same.
It's same object.

## 4.3. Immutable data types and the id function

In [11]:
print(id(list1), 'vs.', id(list2))
print(id(string1), 'vs.', id(string2))

4398242816 vs. 4398237440
4316721136 vs. 4316721136

## 4.4. Immutable data types and the assignment operator

In [12]:
n = 100
id(100)

4315434320

In [13]:
id(n)

4315434320

In [14]:
n = 100
m = n
id(n)

4315434320

In [15]:
id(m)

4315434320

In [16]:
n = 100
m = 100
print(id(n))
print(id(m))

4315434320
4315434320

In [17]:
n = 100
id(n)

4315434320

In [18]:
n += 1
id(n)

4315434352

- Periodic garbage memory cleanup is necessary, and this memory management procedure is called <span style="color:orange">garbage collection</span>.

In [30]:
tup = (1, 2, 5, 4, 3, 2, 1, 4, 7, 8, 9, 9, 3, 7, 3, 9)
temp = list(tup)
temp.sort()
print(temp)

[1, 1, 2, 2, 3, 3, 3, 4, 4, 5, 7, 7, 8, 9, 9, 9]

In [41]:
value = []
frequently = 0
index = 0
for i in range(len(temp)-1) :
    
    if temp[i] != temp[i + 1] :
        value.append(temp[i])
    
print(value)

[1, 2, 3, 4, 5, 7, 8]

In [1]:
population_a = (100, 150, 230, 120, 180, 100, 140, 95, 81, 21, 4)
population_b = (300, 420, 530, 420, 400, 300, 40, 5, 1, 1, 1)

oldA = sum(population_a[7:])
oldB = sum(population_b[7:])
sumA, sumB = sum(population_a), sum(population_b)

oldRateA, oldRateB = oldA/sumA, oldB/sumB

print('The aging degrees of villages A and B are {:5.3f} and {:5.3f} each.'.format(oldRateA, oldRateB))

The aging degrees of villages A and B are 0.165 and 0.003 each.