In [3]:
try :
    a = int(input("Enter number: "))
    a += 1
    print(a)
except :
    print("Input a number not a string")

Enter number: d
Input a number not a string

In [4]:
while True :
    try : 
        a = int(input('a = '))
        break
    except :
        print("Please input a number")

a = ythdf
Please input a number
a = hffg
Please input a number
a = jkdskjdfs
Please input a number
a = 4

In [5]:
try : 
    a, b = input('Enter two numberes: ').split()
    result = int(a) / int(b)
    print('{} / {} = {}'.format(a, b, result))
except:
    print('Please check if the numbers are correct')

Enter two numberes: 10 0
Please check if the numbers are correct

In [7]:
try : 
    b = 2 / 2
    a = 1 + 'hundred'
except Exception as e : 
    print('Error :',e)

Error : unsupported operand type(s) for +: 'int' and 'str'

In [10]:
while True :
    try : 
        radius = float(input('Enter the radius: '))
        area = 3.14 * (radius ** 2)
        print(f"The area of a circle with radius {radius} is {area}.")
        break
    except ValueError :
        print("Invalid input. Please enter a number for the radius.")

Enter the radius: 3
The area of a circle with radius 3.0 is 28.26.

In [12]:
a = [1, 2, 3]
print(a[4])
print("Hello")

IndexError: list index out of range

In [15]:
x, y = 100, 0
print(x/y)

ZeroDivisionError: division by zero

In [24]:
# x, y = 100, 2
x, y = 100, 0
# x, y = 100, 'jfjfjf'

try :
    result = x / y
    
except ZeroDivisionError :
    print('Error: Division by zero')
    
except TypeError :
    print("Error: Wrong type")
    
else :
    print('Result:', result)
    
finally: 
    print('Execution complete')

Error: Division by zero
Execution complete

In [15]:
# students = [['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41], ['Harsh', 39]]

# print(students)

[['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41], ['Harsh', 39]]

In [1]:
students = [['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41], ['Harsh', 39]]
for i in range(len(students)) :
    for j in range(i+1, len(students)) :
        if students[i][1] > students[j][1] :
            students[i], students[j] = students[j], students[i]

lowest = students[0][1]
second_lowest = lowest
for name, score in students :
    if second_lowest < score :
        second_lowest = score
        break

second_lowest_students = []  
for name, score in students :
    if score == second_lowest :
        second_lowest_students.append(name)
        
second_lowest_students.sort()
for i in second_lowest_students :
    print(i)

Berry
Harry

In [6]:
student_marks = {
    'Krishna' : [67, 68, 69],
    'Arjun' : [70, 98, 63],
    'Malika' : [52, 56, 60]
}
query_name = 'Malika'

if query_name in student_marks.keys() :
    print('{:.2f}'.format(sum(student_marks[query_name])/len(student_marks[query_name])))

56.00

In [15]:
if __name__ == '__main__':
    N = int(input())
    list1 = []
    
    for _ in range(N) :
        
        user = input()
        if 'insert' in user :
            _, index, value = user.split()
            index, value = int(index), int(value)
            list1.insert(index, value)
            
        if user.strip() == 'print' :
            print(list1)
            
        if 'remove' in user :
            _, value = user.split()
            list1.remove(int(value))
            
        if 'append' in user :
            _, value = user.split()
            list1.append(int(value))
            
        if user.strip() == 'sort' :
            list1.sort()
            
        if user.strip() == 'pop' :
            list1.pop()
            
        if user.strip() == 'reverse' :
            list1.sort(reverse = True)

1
reverse

[1, 48, 75, 30, 44, 6, 10, 44, 8, 9, 87, 75, 21, 2, 67, 12, 7, 66, 3, 5]
[5, 3, 66, 7, 12, 67, 2, 21, 75, 87, 9, 8, 44, 10, 6, 44, 30, 75, 48, 1]
[1, 2, 3, 5, 6, 7, 8, 9, 10, 12, 21, 30, 44, 44, 48, 66, 67, 75, 75, 87]
[1, 3, 5, 6, 7, 8, 9, 10, 12, 21, 30, 44, 44, 48, 66, 67, 75, 75, 87, 2, 5]