In [5]:
s1 = 'hello world'
print(s1)

hello world

In [6]:
s1 = 'hello'
s2 = 'world'
print(s1+s2)

helloworld

In [7]:
'I' + 'Love' + 'Python!'

'ILovePython!'

In [8]:
'Python' * 10

'PythonPythonPythonPythonPythonPythonPythonPythonPythonPython'

In [9]:
'*' * 50

'**************************************************'

In [10]:
str(100) * 10

'100100100100100100100100100100'

In [11]:
print(type('This is a string'))

<class 'str'>

In [16]:
"hello"[4]

'o'

In [17]:
'hello'[-1]

'o'

In [26]:
text = '''the first line
the second line'''
print(text)

the first linethe second line

In [27]:
value1 = 1
value2 = '2'
'first value {} and second value {}'.format(value1, value2)

'first value 1 and second value 2'

In [28]:
'Hello {}'.format('Python')

'Hello Python'

In [29]:
'{} + {} = {}'.format(1, 2, 1+2)

'1 + 2 = 3'

In [36]:
'{:10}'.format(123)

'       123'

In [33]:
'{:10}'.format('Hello')

'Hello     '

In [38]:
value = 123
formatted_value = '{:10}'.format(value)
print(formatted_value)

formatted_value = '{:<10}'.format(value)
print(formatted_value)

formatted_value = '{:>10}'.format(value)
print(formatted_value)

formatted_value = '{:^10}'.format(value)
print(formatted_value)

       123
123
       123
   123

In [39]:
'{:10d}'.format(123)

'       123'

In [46]:
'{:10d}'.format(123.5)

ValueError: Unknown format code 'd' for object of type 'float'

In [43]:
'{:10f}'.format(123)

'123.000000'

In [47]:
'Python is beautiful'.split()

['Python', 'is', 'beautiful']

In [48]:
word1, word2, word3 = 'Python is beautiful'.split()
print(word1, word2, word3)

Python is beautiful

In [49]:
s1 = '12345'
print(s1.isdigit())

s2 = 'Hello'
print(s2.isdigit())

s3 = '3.14'
print(s3.isdigit())

s4 = '-42'
print(s4.isdigit())

s5 = '0'
print(s5.isdigit())

True
False
False
False
True

In [51]:
print('Please enter your name: ')
name = input()
print('Hello,', name)

Please enter your name:
vt
Hello, vt

In [53]:
name = input('Please enter your name: ')
print('Hello,', name)

Please enter your name: vtn
Hello, vtn

In [55]:
weight = float(input("Please enter your weight in kilograms(kg): "))
height = float(input("Please enter your height in meters(m): "))

bmi = (weight / (height ** 2))
print("Your BMI =", bmi)

Please enter your weight in kilograms(kg): 45
Please enter your height in meters(m)1.7
Your BMI = 15.570934256055365

In [59]:
num1, num2, num3 = input('Enter three integers seperated by space: ').split()
print(num1, num2, num3)

Enter three integers seperated by space: 12 34 56
12 34 56

In [62]:
money  = int(input("Money you put in: "))
price = int (input("Price of goods: "))

change = money - price
print("Change: ", change)
coin500s = change // 500
change = change % 500
coin100s = change // 100

print("The number of 500 won coins: ", coin500s)
print("The number of 100 won coins: ", coin100s)

Money you put in: 5000
Price of goods: 300
Change:  4700
The number of 500 won coins:  9
The number of 100 won coins:  2

In [64]:
print('hello', end='')
print('world')

helloworld

In [67]:
print('My name is', end=":")
print(" vtn")

My name is: vtn

In [69]:
print('Hello', 'World!', sep=',')

Hello,World!

In [71]:
eval('100+2+200')

302

In [77]:
abs(-100)

100

In [79]:
sorted('I love you')

[' ', ' ', 'I', 'e', 'l', 'o', 'o', 'u', 'v', 'y']

In [83]:
import datetime as dt
start_time = dt.datetime.now()
start_time.replace(month=6)

datetime.datetime(2023, 6, 7, 10, 53, 28, 118702)

In [3]:
from datetime import datetime
start_time = datetime.now()
print(start_time)

2023-07-07 10:57:10.870435

In [4]:
from datetime import *
today = date.today()
today

datetime.date(2023, 7, 7)

In [5]:
today

datetime.date(2023, 7, 7)

In [6]:
print(dir(datetime))

['__add__', '__class__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__ne__', '__new__', '__radd__', '__reduce__', '__reduce_ex__', '__repr__', '__rsub__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', 'astimezone', 'combine', 'ctime', 'date', 'day', 'dst', 'fold', 'fromisocalendar', 'fromisoformat', 'fromordinal', 'fromtimestamp', 'hour', 'isocalendar', 'isoformat', 'isoweekday', 'max', 'microsecond', 'min', 'minute', 'month', 'now', 'replace', 'resolution', 'second', 'strftime', 'strptime', 'time', 'timestamp', 'timetuple', 'timetz', 'today', 'toordinal', 'tzinfo', 'tzname', 'utcfromtimestamp', 'utcnow', 'utcoffset', 'utctimetuple', 'weekday', 'year']

In [7]:
import time
seconds = time.time()
print('Time after epoch = ',seconds)

Time after epoch =  1688702708.527158

In [8]:
print(dir(time))

['CLOCK_MONOTONIC', 'CLOCK_MONOTONIC_RAW', 'CLOCK_PROCESS_CPUTIME_ID', 'CLOCK_REALTIME', 'CLOCK_THREAD_CPUTIME_ID', 'CLOCK_UPTIME_RAW', '_STRUCT_TM_ITEMS', '__doc__', '__loader__', '__name__', '__package__', '__spec__', 'altzone', 'asctime', 'clock_getres', 'clock_gettime', 'clock_gettime_ns', 'clock_settime', 'clock_settime_ns', 'ctime', 'daylight', 'get_clock_info', 'gmtime', 'localtime', 'mktime', 'monotonic', 'monotonic_ns', 'perf_counter', 'perf_counter_ns', 'process_time', 'process_time_ns', 'sleep', 'strftime', 'strptime', 'struct_time', 'thread_time', 'thread_time_ns', 'time', 'time_ns', 'timezone', 'tzname', 'tzset']

In [9]:
import time 
unix_timestamp = time.time()
local_time = time.localtime(unix_timestamp)
local_time

time.struct_time(tm_year=2023, tm_mon=7, tm_mday=7, tm_hour=11, tm_min=6, tm_sec=24, tm_wday=4, tm_yday=188, tm_isdst=0)

In [11]:
import time 
unix_timestamp = time.time()
local_time = time.localtime(unix_timestamp)
print(time.strftime('%Y-%m-%d %H-%M-%S', local_time))

2023-07-07 11-08-40

In [13]:
import math as m
m.pow(3,3)

27.0

In [15]:
m.floor(2.1)

2

In [16]:
m.log(2.71828)

0.999999327347282

In [19]:
import random as rd
print(rd.random())
print(rd.random())
print(rd.randrange(1, 7))
print(rd.randrange(0, 10, 2))
print(rd.randint(1,10))

0.7382116476214887
0.5562797878812134
3
2
10

In [23]:
numlist = [10,20,30,40,50]
print(rd.choice(numlist))

40

In [25]:
print(rd.sample(numlist, 3))

[40, 10, 20]

In [30]:
import random as rd

a = list(range(1,11))
b = rd.sample(a,3)
print('Random integer form 1 to 10:', b)

Random integer form 1 to 10: [4, 1, 3]

In [33]:
import math         
a = math.sqrt(4)
print(a)

2.0

In [40]:
import math as m
name = input("Enter your name: ")
weigth = int(input("Enter your weigth(kg): "))
height = int(input("Enter you height(cm): "))
height /= 100

bmi = width / pow(height, 2)
print(f"\nUser's name: {name} \nWeigth: {weigth}\nHeight: {height}\nBMI: {bmi}")

Enter your name: vatana
Enter your weigth(kg): 45
Enter you height(cm): 167

User's name: vatana
Weigth: 45
Height: 1.67
BMI: 16.1353938828929