In [9]:
score_list = [65, 'us', None, 68, 69]
score_list[1]

'us'

In [21]:
bts = ['V', 'Jungkook', 'Jimin', 'RM', 'J-Hope', 'Jin', 'Suga']
bts.append('Vatana')
bts += ['Phirom'] + ['Sun']
print("BTS's members are :", bts)

BTS's members are : ['V', 'Jungkook', 'Jimin', 'RM', 'J-Hope', 'Jin', 'Suga', 'Vatana', 'Phirom', 'Sun']

In [29]:
list2 = [11, 22, 33, 44, 55, 66]
list2[-1]

66

In [24]:
list1 = list(range(1, 10))
print(list1)
print(len(list1))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
9

In [34]:
list1[2 : 6]

[3, 4, 5, 6]

In [36]:
list1[ : 6]

[1, 2, 3, 4, 5, 6]

In [38]:
list1[6 :]

[7, 8, 9]

In [41]:
list1[-6 : -2]

[4, 5, 6, 7]

In [42]:
list1[-2:]

[8, 9]

In [44]:
list1[:-2]

[1, 2, 3, 4, 5, 6, 7]

In [46]:
list1[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [50]:
list1[1::-1]

[2, 1]

In [52]:
person1 = ['David Doe', 20, 1, 180.0, 100.0]
person2 = ["John Smith", 25, 1, 170.0, 70.0]

person_list = person1 + person2
print(person_list)

['David Doe', 20, 1, 180.0, 100.0, 'John Smith', 25, 1, 170.0, 70.0]

In [54]:
list1 = ['a', 'b', 'c']
list2 = [1, 2, 3]
list1.extend(list2)
print(list1)
list1.extend('d')
print(list1)

['a', 'b', 'c', 1, 2, 3]
['a', 'b', 'c', 1, 2, 3, 'd']

In [58]:
list1 = [11, 22, 33, 44]
list1.append([55, 66])
list1

[11, 22, 33, 44, [55, 66]]

In [67]:
slist = ['David', 178.9, 'John', 173.5, 'Jane', 176.1]
print(slist)
slist.insert(4, 'Petter')
print(slist)
slist.insert(5, 168.1)
print(slist)

slist.remove('Petter')
print(slist)

['David', 178.9, 'John', 173.5, 'Jane', 176.1]
['David', 178.9, 'John', 173.5, 'Petter', 'Jane', 176.1]
['David', 178.9, 'John', 173.5, 'Petter', 168.1, 'Jane', 176.1]
['David', 178.9, 'John', 173.5, 168.1, 'Jane', 176.1]

In [69]:
bts = ['V', 'J-Hope', 'Jungkook']
if 'Suga' in bts :
    bts.remove('Suga')
print(bts)

['V', 'J-Hope', 'Jungkook']

In [72]:
del bts[0]
bts

['J-Hope', 'Jungkook']

In [103]:
list1 = [10, 20, 30]
print(list1)
n = list1.pop()
print('n =', n)
print('list1 =', list1)

print('#' * 50)
print(list1.index(10))
list1.extend([30,40])
print(list1)
print(list1.count(40))
print(list1.count(50))

print('#' * 50)
print(list1)
list1.sort()
print(list1)
list1.reverse()
print(list1)

print('#' * 50)
print(min(list1))
print(max(list1))
print(sum(list1))

[10, 20, 30]
n = 30
list1 = [10, 20]
##################################################
0
[10, 20, 30, 40]
1
0
##################################################
[10, 20, 30, 40]
[10, 20, 30, 40]
[40, 30, 20, 10]
##################################################
10
40
100

In [107]:
n_list = [200, 700, 500, 300, 400]
a_list = [0, '']
print(any(n_list))
print(any(a_list))

True
False

In [1]:
prime_list = [2, 3, 5, 7]
print("1st element of prime_list :", prime_list[0])

print('#' * 50)
print("Prime numbers :", prime_list)
prime_list.append(11)
print("Prime numbers after addition :", prime_list)

print('#' * 50)
list1 = [3, 5, 7]
list2 = [2, 3, 4, 5, 6]
for i in range(len(list1)) :
    for j in range(len(list2)) :
        print(f"{list1[i]} * {list2[j]} = {list1[i] * list2[j]}")
    print('')

1st element of prime_list : 2
##################################################
Prime numbers : [2, 3, 5, 7]
Prime numbers after addition : [2, 3, 5, 7, 11]
##################################################
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18

5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30

7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42

In [3]:
p1 = ['David Doe', 20, 1, 100.0, 100.0]
p2 = ['John Smith', 25, 1, 170.0, 70.0]
p3 = ['Jane Carter', 22, 0, 169.0, 60.0]
p4 = ['Peter Kelly', 40, 1, 150.0, 50.0]

p_list = p1 + p2 + p3 + p4
# n_person = len(p_list) / len(p1)
# sum = 0
# for i in p_list[1::5] :
#     sum += i
# average = sum / n_person
# print("The average age of person is :", average)


# =================================== #
n_person = int(len(p_list) / 5)
age = p_list[1::5]
age_sum = sum(age)
average_age = float(age_sum / n_person)

print(f"Average age is {str(average_age)}.")

Average age is 26.75.

In [58]:
s_list = ['abc', 'bcd', 'bcdefg', 'abba', 'cddc', 'opq']
for i in range(len(s_list) - 1):
    for j in range(i+1, len(s_list)) :
        if len(s_list[i]) > len(s_list[j]) :
            temp = s_list[i]
            s_list[i] = s_list[j]
            s_list[j] = temp
print(s_list)


for i in range(len(s_list) - 1):
    for j in range(i+1, len(s_list)) :
        if len(s_list[i]) < len(s_list[j]) :
            temp = s_list[i]
            s_list[i] = s_list[j]
            s_list[j] = temp
print(s_list[0])

['abc', 'bcd', 'opq', 'cddc', 'abba', 'bcdefg']
bcdefg

In [57]:
s_list = ['abc', 'bcd', 'bcdefg', 'abba', 'cddc', 'opq']

for i in range(len(s_list) - 1):
    for j in range(i+1, len(s_list)) :
        if len(s_list[i]) > len(s_list[j]) :
            temp = s_list[i]
            s_list[i] = s_list[j]
            s_list[j] = temp
count = len(s_list[0])

for i in range(len(s_list)) :
    if len(s_list[i]) == count :
        print(s_list[i], end = " ")

abc bcd opq

In [77]:
s_list = ['abcdfvsaf', 'bcd', 'bcdefg', 'abba', 'cddc', 'opq']
shortest = s_list[0]
for i in s_list :
    if len(i) < len(shortest) :
        print(f'{i} is shorter than {shortest}')
        shortest = i
    else:
        print(f'{i} is not shorter than {shortest}')
print(shortest)

abcdfvsaf is not shorter than abcdfvsaf
bcd is shorter than abcdfvsaf
bcdefg is not shorter than bcd
abba is not shorter than bcd
cddc is not shorter than bcd
opq is not shorter than bcd
bcd

In [4]:
s_list = ['abc', 'bcd', 'bcdefg', 'abba', 'cddc', 'opq']
shortest = s_list[0]
longest = s_list[0]

for i in s_list :
    if len(i) < len(shortest) :
       shortest = i
    if len(i) > len(longest) :
        longest = i

print("The shortest string :", shortest)
print("The longest string :", longest)

print("The shortest strings :", end = " ")
for j in s_list :
    if len(j) == len(shortest) :
        print(j, end = " ")

The shortest string : abc
The longest string : bcdefg
The shortest strings : abc bcd opq