# FireFlies Python Midterm Answersheet

# 1

In [1]:
print(1 + 2 + 3 + 4 + 5)

15

# 2

In [3]:
print('*' * 40)
print('# ' * 20)

****************************************
# # # # # # # # # # # # # # # # # # # #

# 3

In [5]:
x, y = input().split()
x = int(x)
y = int(y)
if x < y:
    print(x, y)
else:
    print(y, x)

4 2
2 4

# 4

In [14]:
for i in range(2,12):
    if (i % 2 != 0 and i % 3 != 0) or (i == 2 or i == 3) : 
        print("{} is prime.".format(i))
    else:
        print("{} is composite.".format(i))

2 is prime.
3 is prime.
4 is composite.
5 is prime.
6 is composite.
7 is prime.
8 is composite.
9 is composite.
10 is composite.
11 is prime.

# 5

In [29]:
for i in range(100, 1000) :
    st = str(i)
    if int(st[0])**3 + int(st[1])**3 + int(st[2])**3 == i :
        print(i, end=' ')

153 370 371 407

In [28]:
for i in range(100, 1000) :
    st = str(i)
    sumA = int(st[0])**3 + int(st[1])**3 + int(st[2])**3
    if sumA == i :
        print(i, end=' ')

153 370 371 407

# 6

In [36]:
l1 = ['I like', 'I love']
l2 = ['Pancake', 'Kiwi Juice', 'Expresso']

for i in l1:
    for x in l2:
        print(i, x.lower() + '.')

I like pancake.
I like kiwi juice.
I like expresso.
I love pancake.
I love kiwi juice.
I love expresso.

# 7

Given list =  [5, 6, 3, 9, 2, 12, 3, 8, 7] <br>
Result list =  [5, 3, 6, 2, 9, 3, 8, 7, 12]

In [49]:
tup = (5, 6, 3, 9, 2, 12, 3, 8, 7)
list1 = list(tup)
print('Given list =', list1)
for i in range(len(list1) - 1) :
    if list1[i] > list1[i+1] :
        list1[i], list1[i+1] = list1[i+1], list1[i]
print('Result list =', list1)

Given list = [5, 6, 3, 9, 2, 12, 3, 8, 7]
Result list = [5, 3, 6, 2, 9, 3, 8, 7, 12]

# 8

In [55]:
scores = (('Hyun', 88, 95, 90), ('Kang', 85, 90, 95), ('Park', 70, 90, 80), ('Hong', 90, 90, 95))
m = []
for i in scores :
    _, _, math, _ = i
    m.append(math)
    
avg = sum(m) / len(m)
    
print("Student's average math score is {:.1f}".format(avg))

Student's average math score is 91.2

# 9

In [59]:
radius = int(input())
Pi = 3.14
area = Pi * radius * radius
circumference = 2 * Pi * radius

print('The area of a circle', area)
print('The circumference of a circle', circumference)

7
The area of a circle 153.86
The circumference of a circle 43.96

# 10

In [65]:
print(int('50') + 50)
print(str(50) + '50')

100
5050

# 11

In [66]:
int('1' + '0' + '0' + '0')

1000

# 12

In [69]:
N = int(input())
print("{}! = {}".format(N, 3 * 2 * 1))
N = int(input())
print("{}! = {}".format(N, 5 * 4 * 3 * 2 * 1))
N = int(input())
print("{}! = {}".format(N, 10 * 9 * 8 * 7 * 6 * 5 * 4 * 3 * 2 * 1))

3
3! = 6
5
5! = 120
10
10! = 3628800

# 13

In [71]:
height = int(input())
weight = int(input())

h = height / 100    # height in meter
BMI = weight / (h * h)
print("%.2f" % BMI)

180
70
21.60

# 14

In [72]:
width = 30
height = 60

area = width * height
print("Area of rectangle",area)

Area of rectangle 1800

# 15

In [73]:
import math

a = int(input())
b = int(input())

c = math.sqrt(pow(a, 2) + pow(b, 2))
print(c)

3
4
5.0

# 16

In [75]:
a = int(input())
print(pow(1,a))
print(pow(2,a))
print(pow(3,a))
print(pow(4,a))
print(pow(5,a))
print(pow(6,a))
print(pow(7,a))
print(pow(8,a))
print(pow(9,a))

3
1
8
27
64
125
216
343
512
729

# 17

In [81]:
year = int(input())
print((year % 4 == 0 and year % 100 != 0) or year % 400 == 0)

2023
False

# 18

In [83]:
N = int(input())

if N % 2 == 1 :
    print(True)
else :
    print(False)

20
False

# 19

In [89]:
N = int(input())
if N > 0 and N <10 and N % 2 == 1 :
    print(True)
else :
    print(False)

1
True

# 20

In [91]:
N = int(input())

if N >= 300 and N < 400 :
    print(True)
else : 
    print(False)

222
False

# 21

In [92]:
N = int(input())
print(N % 5 == 0)

125
True

# 22

In [95]:
a, b, c = input().split()
a, b, c = int(a), int(b), int(c)

w1 = 2
w2 = 3
w3 = 9

if (a == w1 or b == w1 or c == w1) and (a == w2 or b == w2 or c == w2) and (a == w3 or b == w3 or c == w3) :
    print("You won the lottery")
else :
    print("You lose")

2 2 2
You lose

# 23

In [98]:
n = int(input())
if n > 0  and n >= 100 :
    print("Natural Number")

100
Natural Number

# 24

In [103]:
a, b = input().split()
a, b = int(a), int(b)
if a >= 20 and a <= 65 :
    print('Adult')
elif a < 20 and a >= 10 :
    print('Youth')
elif a < 10 and a > 1 :
    print('Kid')
    
    
if b >= 110 and (a >= 10 and a < 65) :
    print('You can enter')

8 120
Kid

# 25

In [139]:
from random import randint
r = randint(0, 2)
if r == 0 :
    computer = 'left'
elif r == 1 :
    computer = 'center'
else :
    computer = 'right'

user = input()
print('Computer defence position:', computer)
if user == computer : 
    print('No goal!')
else :
    print('GOAL!')

left
Computer defence position: right
GOAL!

# 26

In [142]:
user = input()
if user in ['a', 'e', 'i', 'o', 'u'] :
    print('Vowel')
else :
    print('Consonant')

l
Consonant

# 27

In [146]:
x, y = input().split()
x, y = float(x), float(y)

if x > 0 and y > 0 :
    print(1)
elif x < 0 and y > 0 :
    print(2)
elif x < 0 and y < 0 :
    print(3)
elif x > 0 and y < 0 :
    print(4)

-5 -5
3

# 28

In [147]:
person1 = ['David Doe', 20, 1, 180.0, 100.0]
person2 = ['John Smith', 25, 1, 170.0, 70.0]
person3 = ['Jane Carter', 22, 0, 169.0, 60.0]
person4 = ['Peter Kelly', 40, 1, 150.0, 50.0]

person = person1 + person2 + person3 + person4

age = sum(person[1::5])
p = len(person) / len(person1)

avg = age / p
print(avg)

26.75

# 29

In [164]:
a = input().split()
b = a[0]
for i in a :
    if len(b) > len(i) :
        b = i
print(b)

AnB School student g
g

# 30

In [190]:
s_list = input().split()
b = s_list[0]
list1 = []
for i in s_list :
    if len(b) >= len(i) :
        b = i
for j in s_list :
    if len(j) == len(b) :
        list1.append(j)
print(*list1, sep = ', ')

abc bcd bcdefg abba cddc opq
abc, bcd, opq

# 31

In [192]:
breads = ["Rye bread", "Wheat", "White"]
meats = ["Meatball", "Sausages", "Chicken breast"]
vegetables = ["Lettuce", "Tomato", "Cucumber"]
sauces = ["Mayonnaise", "Honey mustard", "Chili sauce"]
for b in breads :
    for m in meats :
        for v in vegetables :
            for s in sauces :
                print(b + " + " + m + " + " + v + " + " + s)

Rye bread + Meatball + Lettuce + Mayonnaise
Rye bread + Meatball + Lettuce + Honey mustard
Rye bread + Meatball + Lettuce + Chili sauce
Rye bread + Meatball + Tomato + Mayonnaise
Rye bread + Meatball + Tomato + Honey mustard
Rye bread + Meatball + Tomato + Chili sauce
Rye bread + Meatball + Cucumber + Mayonnaise
Rye bread + Meatball + Cucumber + Honey mustard
Rye bread + Meatball + Cucumber + Chili sauce
Rye bread + Sausages + Lettuce + Mayonnaise
Rye bread + Sausages + Lettuce + Honey mustard
Rye bread + Sausages + Lettuce + Chili sauce
Rye bread + Sausages + Tomato + Mayonnaise
Rye bread + Sausages + Tomato + Honey mustard
Rye bread + Sausages + Tomato + Chili sauce
Rye bread + Sausages + Cucumber + Mayonnaise
Rye bread + Sausages + Cucumber + Honey mustard
Rye bread + Sausages + Cucumber + Chili sauce
Rye bread + Chicken breast + Lettuce + Mayonnaise
Rye bread + Chicken breast + Lettuce + Honey mustard
Rye bread + Chicken breast + Lettuce + Chili sauce
Rye bread + Chicken breast + Tomato + Mayonnaise
Rye bread + Chicken breast + Tomato + Honey mustard
Rye bread + Chicken breast + Tomato + Chili sauce
Rye bread + Chicken breast + Cucumber + Mayonnaise
Rye bread + Chicken breast + Cucumber + Honey mustard
Rye bread + Chicken breast + Cucumber + Chili sauce
Wheat + Meatball + Lettuce + Mayonnaise
Wheat + Meatball + Lettuce + Honey mustard
Wheat + Meatball + Lettuce + Chili sauce
Wheat + Meatball + Tomato + Mayonnaise
Wheat + Meatball + Tomato + Honey mustard
Wheat + Meatball + Tomato + Chili sauce
Wheat + Meatball + Cucumber + Mayonnaise
Wheat + Meatball + Cucumber + Honey mustard
Wheat + Meatball + Cucumber + Chili sauce
Wheat + Sausages + Lettuce + Mayonnaise
Wheat + Sausages + Lettuce + Honey mustard
Wheat + Sausages + Lettuce + Chili sauce
Wheat + Sausages + Tomato + Mayonnaise
Wheat + Sausages + Tomato + Honey mustard
Wheat + Sausages + Tomato + Chili sauce
Wheat + Sausages + Cucumber + Mayonnaise
Wheat + Sausages + Cucumber + Honey mustard
Wheat + Sausages + Cucumber + Chili sauce
Wheat + Chicken breast + Lettuce + Mayonnaise
Wheat + Chicken breast + Lettuce + Honey mustard
Wheat + Chicken breast + Lettuce + Chili sauce
Wheat + Chicken breast + Tomato + Mayonnaise
Wheat + Chicken breast + Tomato + Honey mustard
Wheat + Chicken breast + Tomato + Chili sauce
Wheat + Chicken breast + Cucumber + Mayonnaise
Wheat + Chicken breast + Cucumber + Honey mustard
Wheat + Chicken breast + Cucumber + Chili sauce
White + Meatball + Lettuce + Mayonnaise
White + Meatball + Lettuce + Honey mustard
White + Meatball + Lettuce + Chili sauce
White + Meatball + Tomato + Mayonnaise
White + Meatball + Tomato + Honey mustard
White + Meatball + Tomato + Chili sauce
White + Meatball + Cucumber + Mayonnaise
White + Meatball + Cucumber + Honey mustard
White + Meatball + Cucumber + Chili sauce
White + Sausages + Lettuce + Mayonnaise
White + Sausages + Lettuce + Honey mustard
White + Sausages + Lettuce + Chili sauce
White + Sausages + Tomato + Mayonnaise
White + Sausages + Tomato + Honey mustard
White + Sausages + Tomato + Chili sauce
White + Sausages + Cucumber + Mayonnaise
White + Sausages + Cucumber + Honey mustard
White + Sausages + Cucumber + Chili sauce
White + Chicken breast + Lettuce + Mayonnaise
White + Chicken breast + Lettuce + Honey mustard
White + Chicken breast + Lettuce + Chili sauce
White + Chicken breast + Tomato + Mayonnaise
White + Chicken breast + Tomato + Honey mustard
White + Chicken breast + Tomato + Chili sauce
White + Chicken breast + Cucumber + Mayonnaise
White + Chicken breast + Cucumber + Honey mustard
White + Chicken breast + Cucumber + Chili sauce

# 32

In [224]:
n = int(input())
x = 1
for i in range(1, n+1) :
    if i % 2 == 0 :
        for j in range(n, 0, -1) :
            print('{:2d}'.format(x+j-1), end = ' ')
        x += n
    else :
        for j in range(1, n+1) :
            print('{:2d}'.format(x), end = ' ')
            x += 1
    print()

5
 1  2  3  4  5
10  9  8  7  6
11 12 13 14 15
20 19 18 17 16
21 22 23 24 25

# 33

In [229]:
from random import randint
ans = randint(1, 100)
while True :
    n = int(input())
    if n > ans :
        print('Lower')
    elif n < ans :
        print('Higher')
    else :
        print('Answer')
        break

50
Higher
60
Higher
70
Lower
68
Higher
69
Answer

# 34

In [233]:
vilA = input().split()
vilB = input().split()
vilA = tuple([int(num) for num in vilA])
vilB = tuple([int(num) for num in vilB])
oldA_ratio = sum(vilA[7:]) / sum(vilA)
oldB_ratio = sum(vilB[7:]) / sum(vilB)
print('{:.3f} {:.3f}'.format(oldA_ratio, oldB_ratio))

100 150 230 120 180 100 140 95 81 21 4
300 420 530 420 400 300 40 5 1 1 1
0.165 0.003

# 35

In [234]:
lst = input().split()
tup = tuple([int(num) for num in lst])
count = 0
for i in range(1, len(tup)) :
    if tup[i] < tup[i-1] :
        count += 1
print(count)

100 121 120 130 140 120 122 123 190 125
3

# 36

In [245]:
lst = input().split()
lst = [int(num) for num in lst]
lst.sort()
most_freq = lst[0]
for i in lst :
    if most_freq < i and lst.count(most_freq) <= lst.count(i) :
        most_freq = i
print(most_freq)

1 2 5 4 3 2 1 4 7 8 9 9 3 7 3 9
9

# 37

In [257]:
lst = [(), (1,), [], 'abc', (), (), (1,), ('a',), ('a', 'b'), ((),), '']
i = 0
while i < len(lst) :
    if bool(lst[i]) == False :
        lst.pop(i)
        i -= 1
    i += 1
print(lst)

[(1,), 'abc', (1,), ('a',), ('a', 'b'), ((),)]

# 38

In [5]:
while True :
    user_input = input('Do you want to  continue the game? (yes, no): ') 
    if user_input.lower() == 'no':
        print('Game Over')
        break
    elif user_input.lower() == 'yes' :
        while True :
            play = input('Choose among scissors, rock, paper> ')
            if play.lower() in ['paper', 'rock', 'scissors'] :
                print(play)
                break

Do you want to  continue the game? (yes, no): yes
Choose among scissors, rock, paper> scissors
scissors
Do you want to  continue the game? (yes, no): no
Game Over

# 39

In [7]:
print("#")
print("##")
print("###")
print("####")
print("#####")

#
##
###
####
#####

# 40

In [11]:
print(10 // 8)
print(10 % 8)

1
2

# 41

In [12]:
print(54 + 32)
print(54 - 32)
print(54 * 32)
print(54 / 32)

86
22
1728
1.6875

# 42

In [13]:
a = int(input())
b = int(input())

print("{}+{}={}".format(a, b, a + b))
print("{}+{}={}".format(a, b, a - b))

54
32
54+32=86
54+32=22

# 43

In [14]:
N = int(input())
for i in range(2, 10):
    a = N * i
    print(a)

2
4
6
8
10
12
14
16
18

# 44

In [15]:
A, B, C = input().split()
A, B, C = int(A), int(B), int(C)

print(A + B + C)
print(A - B - C)
print(A * B * C)
print(A / B / C)

6 3 2
11
1
36
1.0

# 45

In [16]:
char1, char2 = input().split()

ascii1, ascii2 = ord(char1), ord(char2)

print("{}:{}".format(char1, ascii1))
print("{}:{}".format(char2, ascii2))

A Z
A:65
Z:90

# 46

In [5]:
s = []
k = 0
for i in range(1, 6) :
    n = int(input())
    s.append(n)
for j in s:
    k += j
    print(k)

5
8
7
8
11
5
13
20
28
39

# 47

In [9]:
R1, S = input().split()
R1 = int(R1)
S = int(S)

R2 = S * 2 - R1

print(R2)

4 3
2

# 48

In [1]:
h_s, mn_s = input().split()
h_s, mn_s = int(h_s), int(mn_s)
end_mn = int(input())

start_hour = h_s * 60
sum_mn = start_hour + mn_s + end_mn
hours = sum_mn // 60
minute = sum_mn % 60

day = 24
while True :
    if hours < day :
        break
    hours -= day
print(hours, minute)

23 58
22
0 20

# 49

In [31]:
n = int(input())
hor = n // 2
ver = n - hor
max_cut = (hor + 1) * (ver + 1)
print(max_cut)

7
20

# 50

In [3]:
n = int(input())
if n % 2 == 0 :
    print("even")
else :
    print("odd")

8
even

# 51

In [6]:
a, b = input().split()
a, b = int(a), int(b)

if a > b :
    print(">")
elif a < b :
    print("<")
else :
    print("=")

20000 90
>

# 52

In [8]:
a, b = input().split()
a, b = int(a), int(b)

if (a + b) % 2 == 0 :
    print("even")
else :
    print("odd")

3 5
even

# 53

In [10]:
a, b = input().split()
a, b = int(a), int(b)

if (a + b) > 0 :
    print("Natural Number")
else :
    print("0 or Negative Number")

-4 3
0 or Negative Number

# 54

In [14]:
a, b, c = input().split()
a, b, c = int(a), int(b), int(c)

d = a * b - c

if d < 0 :
    print(0)
else :
    print(abs(d))

700 3 6000
0

# 55

In [16]:
a = input()
b = input()
a = [int(i) for i in a.split()]
b = [int(i) for i in b.split()]

for i in a :
    if i > 100 :
        a = input()
        a = [int(i) for i in a.split()]
        
for j in b :
    if j > 100 :
        b = input()
        b = [int(i) for i in b.split()]
        


if sum(a) > sum(b) :
    print(sum(a))
else :
    print(sum(b))

91 78 87 100
88 100 89 73
356

# 56

In [25]:
a = input()
b = input()
a = [int(i) for i in a.split()]
b = [int(i) for i in b.split()]

if len(a) > 4 or len(b) > 4 :
    print()
else :
    x, y = sum(a), sum(b)
    k = False
    l = False
    for i in a :
        if i > 100 :
            k = True
    for j in b :
        if j > 100 :
            l = True
            
    if k or l :
        print()
    else :
        print(max(x, y))

91 78 87 100
88 100 89 73
356

# 57

In [41]:
a, b = input().split()
a = int(a)
b = int(b)
if a < 0 or b < 0 :
    print("One of a or b is negative number.")
else :
    print("Both a and b are zero or more.")

0 0
Both a and b are zero or more.

# 58

In [46]:
W = int(input())
if W % 2 == 0 :
    print('YES')
else :
    print('No')

7
No

# 59

In [55]:
lock1 = input()
lock2 = input()
result = 1
for i in range(1, 10000) :
    if i % 2 == 0 :
        lock = lock2
    else :
        lock = lock1
    guess = '{:0>4}'.format(i)
    if guess == lock :
        result = 0
        break

0002
0001
1

# 60

In [61]:
S = int(input())
if 90 <= S <= 100 :
    print('A')
elif 80 <= S <= 89 :
    print('B')
elif 70 <= S <= 79 :
    print('C')
elif 60 <= S <= 69 :
    print('D')
else :
    print('F')

67
D

# 61

In [67]:
a, b = input().split()
a, b = int(a), int(b)
if a == 1 and b == 1 :
    print('both')
elif a == 1 or b == 1 :
    print('either')
else :
    print('neither')

0 0
neither

# 62

In [71]:
a, b, c = input().split()
a, b, c = int(a), int(b), int(c)
if a + b == c :
    print(f'{a} + {b} = {c}')
elif a == b + c :
    print(f'{a} = {b} + {c}')
elif a - b == c :
    print(f'{a} - {b} = {c}')
elif a == b - c :
    print(f'{a} = {b} - {c}')
elif a * b == c :
    print(f'{a} * {b} = {c}')
elif a == b * c :
    print(f'{a} = {b} * {c}')
elif a / b == c :
    print(f'{a} / {b} = {c}')
elif a == b / c :
    print(f'{a} = {b} / {c}')

5 15 3
5 = 15 / 3

# 63

In [79]:
num = input().split()
num = [int(i) for i in num]
coin = 0
for i in num :
    if num.count(i) == 3 :
        coin = 10000 + (i * 1000)
        break
    elif num.count(i) == 2 :
        coin = 1000 + (i * 100)
        break
    else :
        coin = max(num) * 100
print(coin)

2 2 5
1200

# 64

In [95]:
N, K = input().split()
N, K = int(N), int(K)
mins = 0
for i in range(0, N, K) :
    mins += 2
print(mins)

5 2
6

# 65

In [101]:
n = int(input())

for i in range(1, n +1):
    print(i, end=" ")

13
1 2 3 4 5 6 7 8 9 10 11 12 13

# 66

In [5]:
n = int(input())
count = 0
for i in range(1, 10):
    for j in range(1, 10) :
        for k in range(1, 10) :
            if i + j + k == n and i < j < k:
                print(i, j, k)
                count += 1
print(count)

10
1 2 7
1 3 6
1 4 5
2 3 5
4

# 67

In [106]:
a, b = input().split()
a = int(a)
b = int(b)

for i in range(a, b + 1):
    print(i, end=" ")

3 8
3 4 5 6 7 8

# 68

In [1]:
a, b = input().split()
a = int(a)
b = int(b)

for i in range(b, a - 1, - 1):
    print(i, end=" ")

3 8
8 7 6 5 4 3

# 69

In [15]:
N = int(input())
j = N
result = 0
for i in range(1, N + 1):
    result += i * j
    j -= 1
print(result)

10
220

# 70

In [7]:
N = int(input())
print(sum(range(1, N + 1)))

100
5050

# 71

In [2]:
a, b = input().split()
a = int(a)
b = int(b)

print(sum(range(a, b + 1)))

51 100
3775

# 72

In [6]:
N = int(input())
print(*range(1, N +1, 2))

11
1 3 5 7 9 11

# 73

In [1]:
N = int(input())
count = 0 
for i in range(1, N +1):
    if N % i == 0:
        count += 1
print(count)

12
6

# 74

In [11]:
N = int(input())
count = 0
for i in range(1, N):
    if i % 3 == 0 or i % 5 == 0:
        count += i
print(count)

10
23

# 75

In [14]:
N = int(input())
s = 0
for i in range(1, N+1) :
    if N % i == 0 :
        s += i
print(s)

12
28

# 76

In [15]:
N = int(input())
s = 0
for i in range(1, N) :
    for j in range(1, i + 1) :
        if i % 2 == 0 and j % 2 == 0 and i * j < N :
            s += 1
print(s)

10
2

# 77

In [18]:
N = int(input())
s = 0
for i in range(1, N) :
    if N % i == 0:
        s += i
if s == N :
    print("PERFECT")
elif s > N :
    print("ABUNDANT")
elif s < N :
    print("DEFICIENT")

10
DEFICIENT

# 78

In [19]:
n = 5

for i in range(1, n+1) :
    print("#" * i)

#
##
###
####
#####

# 79

In [20]:
for i in range(5, 0, -1) :
    print('#' * i)

#####
####
###
##
#

# 80

In [42]:
for i in range(1, 6) :
    print("{}{}".format(' ' * (5-i), '#' * i))

    #
   ##
  ###
 ####
#####

# 81

In [41]:
for i in range(1, 6) :
    print("{}{}".format(' '*(i-1), '#'*(6-i)))

#####
 ####
  ###
   ##
    #

# 82

In [47]:
for i in range(1, 6) :
    print("{}{}".format(' '*(5-i), '#'*(i*2-1)))

    #
   ###
  #####
 #######
#########

# 83

In [4]:
for i in range(5,0, -1) :
    print(" "*(5 - i), end='')
    print("#"*(2*i-1))

#########
 #######
  #####
   ###
    #

# 84

In [23]:
G = int(input())
count = 0
for g2 in range(1, 10):
    for g3 in range(1, 10):
        for g5 in range(1, 10):
            if (g2 * 2) + (g3 * 3) + (g5 * 5) == G :
                print(g2, g3, g5)
                count += 1
print(count)

20
1 1 3
2 2 2
3 3 1
6 1 1
4

# 85

In [93]:
while True :
    N = int(input())
    if N >= 1 and N <= 10 :
        break
    
for i in range(1, N):
    print(*range(1, i+1), sep='', end='')
    if N >= 10 :
        print('{}'.format(' '*((N-i)*2)), end='')
    else :
        print('{}'.format(' '*((N-i)*2-1)), end='')
    print(*range(i, 0, -1), sep='')
            

print(*range(1, N+1),*range(N-1, 0, -1), sep='')
    
for j in range(N, 1, -1) :
    print(*range(1, j), sep='', end='')
    if N >= 10 :
        print('{}'.format(' '*((N-j+1)*2)), end='')
    else :
        print('{}'.format(' '*((N-j+1)*2-1)), end='')
    print(*range(j-1, 0, -1), sep='')

5
1       1
12     21
123   321
1234 4321
123454321
1234 4321
123   321
12     21
1       1

# 86

In [95]:
A = int(input())
balance = 10000
count = 0
while True :
    if balance < A :
        break
    balance -= A
    count += 1
    print(balance)
print(count)

1250
8750
7500
6250
5000
3750
2500
1250
0
8

# 87

In [97]:
a, b, c, d = input().split()
a = int(a)
b = int(b)
c = int(c)
d = int(d)
while True :
    if a>c :
        print(a)
        break
    a += b
    c -= d

150 50 1000 100
450

# 88

In [122]:
N, K = input().split()
N = int(N)
K = int(K)
count = N
while N >= K :
    N = N - K + 1
    count += 1
print(count)

10 3
14

# 89

In [141]:
N = int(input())
count = 0
total = 0
coin = 1
for i in range(1, N + 1) :
    total += coin
    count += 1
    if count == coin :
        coin += 1
        count = 0
print(total)

10
30

# 90

In [145]:
N = int(input())
total_square = 0
for i in range(1, N+1) :
    num_square = i * i
    total_square += num_square
print(total_square)

3
14

# 91

In [7]:
N = int(input())
odd = []
for i in range(1, N+1):
    odd.append(i**2)
print(sum(odd))

3
14

# 92

In [8]:
from math import sqrt
a, b = [int(n) for n in input().split()]
summ = 0
lst = []
for i in range(a, b + 1) :
    if sqrt(i) % 1 == 0 :
        summ += i
        lst.append(i)
if bool(lst) == False :
    print(-1)
else :
    print(summ)
    print(lst[0])

1 100
385
1

# 93

In [3]:
N = int(input())
# render prison cells in the first round
# -1 dont count
# 0 indicate the cells is open
# 1 indicate the cells is closed
lock = 1
unlock = 0
cells = [unlock]*N
for i in range(2, N+1) :
    for j in range(1, N+1) :
        if i * j <= N and cells[i*j-1] == unlock :
            cells[i*j-1] = lock
        elif i*j <= N :
            cells[i*j-1] = unlock        
print(cells.count(unlock))

5
2

# 94

In [65]:
import math
n = int(input())
print(int(math.sqrt(n)))

25
5

# 95

In [73]:
n = input()
reverse = n[::-1]
if n == reverse :
    print('Palindrome Number')
else :
    print('Normal Number')

120
Normal Number

# 96

In [102]:
count = 0
prime = []
for i in range(1, 101) :
    for j in range(1, i + 1) :
        if i % j == 0 :
            count += 1
    if count == 2 :
        prime.append(i)
    count = 0
for i in range(0, len(prime), 5) :
    print(*prime[i:i+5])

2 3 5 7 11
13 17 19 23 29
31 37 41 43 47
53 59 61 67 71
73 79 83 89 97

# 97

In [106]:
lst = []
nst = []
summ = 0
for i in range(1, 101) :
    if i % 2 == 0 :
        lst.append(i)
for i in lst :
    summ += i
    nst.append(i)
    if summ > 50 :
        break
print(*nst)
print(summ)

2 4 6 8 10 12 14
56

# 98

In [116]:
lst = []
while True :
    a, b = input().split()
    a, b = int(a), int(b)
    if (a and b) == 0 :
        break
    c = a + b
    lst.append(c)

print(max(lst))

1 2
2 3
3 4
4 5
0 0
9

# 99

In [149]:
count = 0
for i in range(1, 101) :
    if i % 2 == 0 or i % 3 == 0 :
        continue
    print(i, end=' ')
    count += 1
    if count == 10 :
        print()
        count = 0

1 5 7 11 13 17 19 23 25 29
31 35 37 41 43 47 49 53 55 59
61 65 67 71 73 77 79 83 85 89
91 95 97

# 100

In [162]:
list1 = []
while True:
    s1,s2 = input().split()
    s1,s2 = int(s1), int(s2)
    score = s1 + s2
    list1.append(score)
    if s1 == s2 == 0:
        break
print(list1.index(max(list1))+1)

5 3
6 2
7 2
5 3
5 4
0 4
0 6
0 0
3

# 101

In [163]:
list1 = [4, 7, 6, 8, 11, -3, 8, 11, 5, 13]
print(sum(list1))

70

# 102

In [176]:
list1 = [5, 7, 13, 11, 6, 10, 45, 11, 4, 9]
sum1 = 0

for i in list1:
    if i % 2 == 0:
        sum1 += i
print(sum1)

20

# 103

In [193]:
origin = [1, 1, 2, 2, 2, 8]
user = [int(i) for i in input().split()]
need = []
for i in range(len(origin)) :
    need.append(origin[i] - user[i])
print(*need)

2 1 2 1 2 1
-1 0 0 1 0 7

# 104

In [268]:
A, B, C = input().split()
product = int(A) * int(B) * int(C) 

lst = list(str(product))
nlst = [int(i) for i in lst]
 
for i in range(0, 10) :
    print(nlst.count(i))

123 234 345
[9, 9, 2, 9, 7, 9, 0]
1
0
1
0
0
0
0
1
0
4

# 105

In [190]:
tup = tuple(range(1, 100, 2))
print(sum(tup))

2500

# 106

In [234]:
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in range(len(data)-1):
    data[i], data[i+1] = data[i+1], data[i]
print(data)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 1]

# 107

In [242]:
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in range(len(data)-1, 0, -1) :
    data[i-1], data[i] = data[i], data[i-1]
print(data)

[10, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# 108

In [276]:
lst = input()

print("{}Y {}M {}D".format(lst[:4], lst[4:6], lst[6:]))

20211224
2021Y 12M 24D

# 109

In [281]:
N, K = input().split()
N, K = int(N), int(K) 
next_round = input()
next_round = [int(i) for i in next_round.split()]

s = 0

for i in next_round :
    if i > K and i != 0 :
        s += 1

print(s)

4 2
0 0 0 0
0

# 110

In [298]:
data = int(input())
m = int(input())
amount = []
for i in range(m) :
    month = int(input())
    amount.append(data - month)
    
print(sum(amount) + data )

10
3
4
6
2
28

# 111

In [293]:
a = int(input())
while True :
    n = input().split()
    k = [int(i) for i in n]
    if len(n) == a :
        break
lst = []
summ = sum(k) // len(k)
count = 0
for i in n :
    i = int(i)
    c = i - summ
    if c > 0 :
        lst.append(c)
print(lst)
print(sum(lst))

6
5 2 4 1 7 5
[1, 3, 1]
5

# 112

In [302]:

a = int(input())
while True :
    n = input().split()
    lst = [int(i) for i in n]
    if len(n) == a :
        break
res = 0
prev = 0
for i in range(1, len(lst) + 1) :
    res = lst[i-1] * i - prev
    prev = lst[i-1] * i
    print(res, end = " ")

5
1 3 3 4 5
1 5 3 7 9

# 113

In [306]:
# 113lst = [int(i) for i in input().split()]
count = 0
for i in lst :
    if i * 2 in lst and i != 0 :
        count += 1
print(count)

1 4 3 2 9 7 18 22 0
3

# 114

In [312]:
# 113P, Q = input().split()
P, Q = int(P), int(Q)
count = 0
for i in range(1, P + 1) :
    for j in range(1, Q + 1) :
        if P % i == 0 and Q % j == 0 :
            print(i, j)

24 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
6 1
6 2
8 1
8 2
12 1
12 2
24 1
24 2

# 115

In [313]:
P, Q = input().split()
P = [int(i) for i in P]
Q = [int(i) for i in Q]

summ = 0
for i in Q :
    for j in P :
        summ += i * j
print(summ)

123 45
54

# 116

In [314]:
n = [7, -5, 4, -99, 45, 11, 0, 8, 50, 77]
print(max(n))
print(min(n))
print(sum(n))

77
-99
98

# 117

In [318]:
lst = []
for i in range(1, 10) :
    n = int(input())
    lst.append(n)

print(max(lst))
print(lst.index(max(lst))+1)

10
20
30
40
50
60
70
80
90
90
9

# 118

In [323]:
lst = []
for i in range(1, 6) :
    n = [int(j) for j in input().split()]
    lst.append(sum(n))
print(lst.index(max(lst))+1, max(lst))

5 4 4 5
5 4 4 4
5 5 4 4
5 5 5 4
4 4 4 5
4 19

# 119

In [326]:
n = int(input())
lst = []
for i in range(n) :
    lst.append(input())
fav = lst[0]   
for i in lst :
    if lst.count(i) > lst.count(fav) :
        fav = i
        
print(fav)

5
512
532
532
585
599
532

# 120

In [348]:
while True :
    N = int(input())
    K = int(input())
    if N > 0 and -3 <= K <= 3:
        break
x = [int(i) for i in input().split()]
x = x[:N]
summ = 0
for i in x :
    if i ** K > 0 :
        summ += i ** K
print(summ)

5
3
2 -1 1 2 2
25

# 121

In [345]:
while True :
    S1, S2, S3 = input().split()
    S1, S2, S3 = int(S1), int(S2), int(S3)
    if 2 <= S1 <= 20 and 2 <= S2 <= 20 and 2 <= S3 <= 20 :
        break
lst = []
for i in range(1, S1 + 1) :
    for j in range(i, S2 + 1) :
        for k in range(j, S3 + 1) :
            lst.append(i + j + k)
mini = lst[0]
for i in lst :
    if lst.count(mini) < lst.count(i) :
        mini = i
print(mini)

3 2 3
5

# 122

In [369]:
C = int(input())
N = int(input())
S = [int(i) for i in input().split()]
S = S[:N]
lst = []
for i in range(N) :
    for j in range(i, N) :
        if S[i] + S[j] == C :
            lst.append([i+1, j+1])
if bool(lst) :
    print(*lst[0])
else :
    print(0)

100
3
75 5 25
1 3

# 123

In [385]:
N = int(input())
S = []
T = []

for _ in range(N) :
    while True :
        s, t = input().split()
        s, t = int(s), int(t)
        if 1 <= s <= 90 and 1 <= t <= 12 :
            S.append(s)
            T.append(t)
            break

total = 0
prev = 0
for i in range(0, N) :
    total += S[i] * (T[i]-prev)
    prev = T[i]
print(total)

2
60 1
30 5
180

# 124

In [389]:
s = list(range(1, 31))
lst = []
for i in range(28) :
    x = int(input())
    lst.append(x)
for j in s :
    if j not in lst :
        print(j)

1
3
4
5
6
7
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
2
8

# 125

In [395]:
lst = []
remainder = []
for _ in range(10) :
    A = int(input())
    lst.append(A)
for i in lst :
    if i % 42 not in remainder :
        remainder.append(i%42)
print(len(remainder))

42
84
252
420
840
126
42
42
42
42
[0]
1

# 126

In [31]:
slots, N = input().split()
slots, N = int(slots), int(N)
S = [-1] + [0] * slots
print(S)
types = ['R','B','D']
print()
for i in range(N) :
    a, b = input().split()
    a, b = int(a), int(b)
    for j in range(a, len(S), b) :
        if S[j] == 0 :
            S[j] = types[i]
        
    print(S)
print(S.count(0))

30 3
[-1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

1 3
[-1, 'R', 0, 0, 'R', 0, 0, 'R', 0, 0, 'R', 0, 0, 'R', 0, 0, 'R', 0, 0, 'R', 0, 0, 'R', 0, 0, 'R', 0, 0, 'R', 0, 0]
3 7
[-1, 'R', 0, 'B', 'R', 0, 0, 'R', 0, 0, 'R', 0, 0, 'R', 0, 0, 'R', 'B', 0, 'R', 0, 0, 'R', 0, 'B', 'R', 0, 0, 'R', 0, 0]
1 4
[-1, 'R', 0, 'B', 'R', 'D', 0, 'R', 0, 'D', 'R', 0, 0, 'R', 0, 0, 'R', 'B', 0, 'R', 0, 'D', 'R', 0, 'B', 'R', 0, 0, 'R', 'D', 0]
13

# 127

In [35]:
N, M = input().split()
N, M = int(N), int(M)
off = 0
on = 1
N = [-1] + [0] * N
for i in range(M) :
    op, S_i, E_i = input().split()
    op, S_i, E_i = int(op), int(S_i), int(E_i)
    if op == 0:
        for j in range(S_i, E_i + 1) :
            if N[j] == off :
                N[j] = on
            elif N[j] == on :
                N[j] = off
    elif op == 1 :
        print(N[S_i : E_i+1].count(on))

4 5
0 1 2
0 2 4
1 2 3
1
0 2 4
1 1 4
2

# 128

In [40]:
N = int(input())
M = int(input())
K = int(input())
check = [-1] + [0] * N
for _ in range(M) :
    x = int(input())
    for j in range(x- K, x + K + 1) :
        if 1 <= j <= N :
            check[j] = 1
    print(check, '\n')
cnt = 0
for i in range(1, N + 1) :
    if check[i] == 0 :
        cnt += 1 
        for j in range(i, min(i + K * 2, N) + 1) :
            check[j] = 1
            print(check, '\n')
print(cnt)

5
2
2
1
[-1, 1, 1, 1, 0, 0]

5
[-1, 1, 1, 1, 1, 1]

0

# 129

In [45]:
L, M = input().split()
L, M = int(L), int(M)
trees = [0] * (L + 1)
for _ in range(M) :
    S, E = input().split()
    S, E = int(S), int(E)
    for j in range(S, E + 1) :
        trees[j-1] = 1
print(trees.count(0))

300 1
100 200
200

# 130

In [48]:
time = [-1] + [0] * 100
a, b, c = [int(n) for n in input().split()]
for i in range(3) :
    start, end = [int(n) for n in input().split()]
    for j in range(start, end) :
        time[j] += 1
total = 0
for _ in range(len(time)) :
    if time[_] == 1 :
        total += a
    elif time[_] == 2 :
        total += b*2
    elif time[_] == 3 :
        total += c*3
print(total)

5 3 1
1 3
3 5
0 0
20

# 131

In [51]:
a = [10, 20, 30, 40, 50, 60, 70, 80, 90]
T = int(input())
total = []
for i in range(T) :
    S, E = [int(n) for n in input().split()]
    total.append(sum(a[S-1:E]))
print(*total,sep='\n')

3
5 9
1 10
3 8
350
450
330

# 132

In [55]:
N, Q = [int(i) for i in input().split()]
H = []
food = []
for _ in range(N) :
    H.append(int(input()))
for _ in range(Q) :
    S, E = [int(i) for i in input().split()]
    food.append(sum(H[S-1:E]))
print(*food, sep='\n')

4 2
5
8
12
6
1 3
2 4
25
26

# 133

In [61]:
N, K = [int(i) for i in input().split()]
lst = []
sumlst = []
for _ in range(N) :
    lst.append(int(input()))
for i in range(len(lst)) :
    if i + K <= len(lst) :
        sumlst.append(sum(lst[i:i+K]))
print(max(sumlst))

5 3
2
5
-4
10
3
11

# 134

In [62]:
A = int(input())
op1 = input()
B = int(input())
op2 = input()
C = int(input())

if op1 == '+' :
    D = A + B
elif op1 == '-' :
    D = A - B
elif op1 == '*' :
    D = A * B 
elif op1 == '/' :
    D = A / B
    
if op2 == '+' :
    E = D + C
elif op2 == '-' :
    E = D - C
elif op2 == '*' :
    E = D * C
elif op2 == '/' :
    E = D / C

print(E)

4
+
5
*
9
81

# 135

In [84]:
M, T, U, F, D = [int(i) for i in input().split()]
terrains = []
backward = []
for _ in range(T) :
    x = input()
    if x.upper() == 'U' :
        terrains.append(U)
        backward.append(D)
    elif x.upper() == 'F' :
        terrains.append(F)
        backward.append(F)
    elif x.upper() == 'D' :
        terrains.append(D)
        backward.append(U)
        
count = 0
total = 0
i = 0
while True :
    if total + terrains[i] + backward[i] > M :
        break
    elif total <= M :
        total += terrains[i] + backward[i]
        count += 1
        i += 1
        if i == len(terrains) :
            i = 0
print(count)

13 5 3 2 1
u
f
u
d
f
3

# 136

In [81]:
lst = [int(i) for i in input().split()]
start = []
end = []
compare = []
count = []
for i in range(len(lst)-1, -1, -1) :
    if lst[i] != lst[i-1] :
        start.append(i+1)
start.reverse()
for i in range(len(lst)-1) :
    if lst[i] != lst[i+1] :
        end.append(i+1)
        compare.append(lst[i+1])
compare.insert(0, lst[0])
end.append(len(lst))
for i in range(len(start)) :
    count.append(end[i]-start[i]+1)
maxi = max(count)
for i in range(len(count)) :
    if maxi == count[i] :
        print(compare[i])
print(maxi)

1 1 1 1 1 3 3 1 1 1 7 7
1
5

# 137

In [87]:
N = int(input())
lst = [int(i) for i in input().split()]
lst[:N]
print(lst)
count = 0
for i in range(1, len(lst)) :
    if lst[i] != lst[i-1] :
        count += 1
print(count)

6
1 0 0 1 1 1
[1, 0, 0, 1, 1, 1]
2

# 138

In [25]:
lst = [int(i) for i in input().split()]
alst = lst[:]
alst.sort()
dlst = lst[:]
dlst.sort(reverse = True)
if lst == alst :
    print('ascending')
elif lst == dlst :
    print('desending')
else :
    print('mixed')

1 2 3 4 5 6 7 8
ascending

# 139

In [36]:
N = int(input())
lst = []
for i in range(N) :
    x = input()
    lst.append(x)
count = 0
for i in range(1, len(lst)) :
    if lst[i] != lst[i-1] :
        count += 1
print(count+1)

6
C
C
P
C
Z
Z
4

# 140

In [3]:
N = int(input())
count = 0
max_count = 0
for _ in range(N) :
    if input().split() == ['0', '0'] :
        count += 1
    else :
        count = 0
    if max_count < count :
        max_count = count
print(max_count * 2)

7
0 0
1 0
1 1
0 0
0 0
0 0
0 1
6